<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.groups.title} + ' - Brass Band Results'}">Groups - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:if="${GroupPrefixLetter == 'ALL'}"><span th:text="#{page.groups.page-title}" th:remove="tag">All Groups</span></h2>
    <h2 th:if="${GroupPrefixLetter != 'ALL'}"><span th:text="#{page.groups.groups-starting-with(${GroupPrefixLetter})}" th:remove="tag">Contest Groups starting with R</span></h2>
    <p>
        <span th:text="#{page.groups.group-counts(${Groups.returnedGroupsCount},${Groups.allGroupsCount})}" th:remove="tag">Showing 1 of 6 groups.</span>
        <span th:text="#{page.groups.group-list-header}" th:remove="tag">This is a list of current or last known names, alternative group names can be found by search.</span>
    </p>
    <p th:replace="navigation/az-picker.html :: azPicker('contest-groups', ${GroupPrefixLetter}, false, true)"></p>
    <table id="bands" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.groups.column-header-name}">Name</th>
            <th th:text="#{page.groups.column-header-contests}">Contests</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${Groups.returnedGroups}">
            <td class="group">
                <span th:replace="links/group-link.html :: groupLink(${group})"></span>
            </td>
            <td class="group-contest-count" th:text="${group.contestCount}">0</td>
        </tr>
        </tbody>
    </table>
    <p th:replace="navigation/az-picker.html :: azPicker('contest-groups', ${GroupPrefixLetter}, false, true)"></p>
</div>
</body>
</html>