<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.group-years.title(${Group.contestGroup.name})} + ' - Brass Band Results'}">Group Year - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${Group.contestGroup.name}">Group Name</h2>
    <span th:replace="components/aliases.html :: previousNames(${PreviousNames})"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="${'/contests/' + Group.contestGroup.slug}" th:text="#{page.group.tab.contests}">Contests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/contests/' + Group.contestGroup.slug + '/years'}" th:text="#{page.group.tab.years}">Years</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <p th:text="#{page.group-years.events-for}">We have events for this contest in these years.</p>
        <table id="active-contests" class="table table-hover sortable">
            <thead>
            <tr>
                <th th:text="#{page.column-header.year}">Year</th>
                <th th:text="#{page.column-header.contests}">Contests</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="year : ${Group.years}">
                <td class="contest"><a th:href="${'/contests/' + Group.contestGroup.slug + '/' + year.year}" th:text="${year.year}">1998</span></a></td>
                <td th:text="${year.eventsCount}">123</td>
            </tr>
            </tbody>
        </table>

        <div>
            <span th:replace="links/tag-link.html :: tagCloud(${Group.contestGroup.tags})"></span>
        </div>

        <br/>
    <div>
</div>
</body>
</html>