<div th:fragment="header(Person, PersonProfile, PreviousNames)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h2>
        <span th:remove="tag" th:if="${PersonProfile != null}" th:text="${PersonProfile.title}">Mr</span>
        <span th:remove="tag" th:text="${Person.name}">Person Name</span>
        <small><small><small th:if="${PersonProfile != null}" th:text="${PersonProfile.qualifications}"></small></small></small>
    </h2>
    <h3 th:if="${Person.knownFor != null}" th:text="${Person.knownFor}"></h3>
    <div sec:authorize="hasRole('BBR_SUPERUSER')">
        <span th:replace="~{buttons/edit.html :: editPerson(${Person})}"></span>
        <span th:replace="~{buttons/edit.html :: editPersonAliases(${Person})}"></span>
        <span th:replace="~{buttons/edit.html :: editPersonRelationships(${Person})}"></span>
    </div>
    <span th:replace="~{components/aliases.html :: previousNames(${PreviousNames})}"></span>
    <br/>
    <span th:if="${PersonRelationships != null && PersonRelationships.size > 0}">
        <b th:text="#{page.field-prompt.relationships}">Relationships:</b>
        <ul>
            <li th:each="relationship : ${PersonRelationships}">
                <span th:text="#{${relationship.relationshipName(Person)}}">relationship</span>
                <span th:replace="~{links/person-link.html :: personLink(${relationship.otherPerson(Person)})}">Person Name</span>
            </li>
        </ul>
        <br/>
    </span>
    <div style="white-space: pre-line" th:utext="${Notes}">Notes</div>
    <br/>
</div>
