<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.venue-contests.title(${Venue.name})}">{0} - Venue - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${Venue.name}"></h2>

    <table id="events" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.venue-contests.column-header-date}"  class="date">Date</th>
            <th th:text="#{page.venue-contests.column-header-contest}">Contest</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contestEvent : ${VenueContests}">
            <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${contestEvent})">9th Sep 2023</span></td>
            <td class="bbr-contest"><span th:replace="links/contest-link.html :: contestLink(${contestEvent.contest})">Contest Name</span></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>