<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.venue.title(${Venue.name})} + ' - Brass Band Results'}">{0} - Venue - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="~{venues/components/header.html :: header(${Venue},${PreviousNames})}"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="${'/venues/' + Venue.slug}" th:text="#{page.venue.tab.contests}">Contests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/venues/' + Venue.slug + '/years'}" th:text="#{page.venue.tab.years}">Years</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/venues/' + Venue.slug + '/map'}" th:text="#{page.venue.tab.map}">Map</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <table id="events" class="table table-hover sortable">
            <thead>
            <tr>
                <th th:text="#{page.column-header.year}">Year</th>
                <th th:text="#{page.column-header-events-at-venue}">Events at Venue</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="venueYear : ${VenueYears}">
                <td><a th:href="${'/venues/' + Venue.slug + '/years/' + venueYear.year}" th:text="${venueYear.year}"></a></td>
                <td th:text="${venueYear.eventCount}">0</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
