.shhh, .printonly {
    display: none;
}

a {
  color: #003366 !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

tbody tr.result-1 td {
  background-color: #fbed90 !important;
}

tbody tr.result-2 td {
  background-color: #abb7d1 !important;
}

tbody tr.result-3 td {
  background-color: #b9977f !important;
}