<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{page.pieces.title}">Pieces - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:if="${PiecePrefixLetter == 'ALL'}"><h2><span th:text="#{page.pieces.page-title-all}" th:remove="tag">All Bands</span></h2></span>
    <span th:if="${PiecePrefixLetter == '0'}"><h2><span th:text="#{page.pieces.page-title-numbers}" th:remove="tag">Pieces starting with numbers</span></h2></span>
    <span th:if="${PiecePrefixLetter != 'ALL' && PiecePrefixLetter != '0'}"><h2><span th:text="#{page.pieces.pieces-starting-with(${PiecePrefixLetter})}" th:remove="tag">Pieces starting with R</span></h2></span>
    <p>
        <span th:text="#{page.pieces.piece-counts(${Pieces.returnedPiecesCount},${Pieces.allPiecesCount})}" th:remove="tag">Showing 1 of 6 pieces.</span>
    </p>
    <p th:replace="navigation/az-picker.html :: azPicker('pieces', ${PiecePrefixLetter}, true, true)"></p>
    <table id="bands" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.pieces.column-header-name}">Name</th>
            <th th:text="#{page.pieces.column-header-composer}">Composer</th>
            <th th:text="#{page.pieces.column-header-arranger}">Arranger</th>
            <th th:text="#{page.pieces.column-header-set-test}" sec:authorize="hasRole('BBR_PRO')">Set Test Count</th>
            <th th:text="#{page.pieces.column-header-own-choice}" sec:authorize="hasRole('BBR_PRO')">Own Choice Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="piece : ${Pieces.returnedPieces}">
            <td class="piece">
                <span th:replace="links/piece-link.html :: pieceLink(${piece})"></span>
            </td>
            <td class="composer person"><span th:replace="links/person-link.html :: personLink(${piece.composer}, false, false)"></span></td>
            <td class="arranger person"><span th:replace="links/person-link.html :: personLink(${piece.arranger}, false, false)"></span></td>
            <td th:text="${piece.setTestCount}"></td>
            <td th:text="${piece.ownChoiceCount}"></td>
        </tr>
        </tbody>
    </table>
    <p th:replace="navigation/az-picker.html :: azPicker('pieces', ${PiecePrefixLetter}, true, true)"></p>
</div>
</body>
</html>