<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.group.title(${Group.contestGroup.name})} + ' - Brass Band Results'}">Group - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="groups/components/header.html :: header(${Group.contestGroup},${PreviousNames})"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/contests/' + Group.contestGroup.slug}" th:text="#{page.group.tab.contests}">Contests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/contests/' + Group.contestGroup.slug + '/years'}" th:text="#{page.group.tab.years}">Years</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <div th:if="${Group.activeContests.size > 0}">
            <h4 th:text="#{page.group.active-contests}">Active Contests</h4>
            <table id="active-contests" class="table table-hover sortable">
                <thead>
                <tr>
                    <th th:text="#{page.column-header.name}">Name</th>
                    <th th:text="#{page.column-header.events}">Events on Site</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contest : ${Group.activeContests}">
                    <td class="contest"><span th:replace="links/contest-link.html :: contestLink(${contest})"></span></td>
                    <td th:text="${contest.eventsCount}">123</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${Group.oldContests.size > 0}">
            <h4 th:text="#{page.group.old-contests}">Old Contests</h4>
            <table id="old-contests" class="table table-hover sortable">
                <thead>
                <tr>
                    <th th:text="#{page.column-header.name}">Name</th>
                    <th th:text="#{page.column-header.events}">Events on Site</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="contest : ${Group.oldContests}">
                    <td class="contest"><span th:replace="links/contest-link.html :: contestLink(${contest})"></span></td>
                    <td th:text="${contest.eventsCount}">123</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <span th:replace="links/tag-link.html :: tagCloudGroup(${Group.contestGroup})"></span>
        </div>

        <br/>

        <div th:if="${Group.contestGroup.hasNotes}">
            <h4 th:text="#{page.group.notes}">Notes</h4>
            <p th:text="${Group.contestGroup.notes}">These are the notes</p>
        </div>
    </div>
</div>
</body>
</html>