<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.contests.title} + ' - Brass Band Results'}">Contests - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:if="${ContestPrefixLetter == 'ALL'}"><h2><span th:text="#{page.contests.page-title}" th:remove="tag">All Contests</span></h2></span>
    <span th:if="${ContestPrefixLetter != 'ALL'}"><h2><span th:text="#{page.contests.contests-starting-with(${ContestPrefixLetter})}" th:remove="tag">Contests starting with R</span></h2></span>
    <p th:replace="~{navigation/az-picker.html :: azPicker('contests', ${ContestPrefixLetter}, false, true)}"></p>
    <table id="bands" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.column-header.name}">Name</th>
            <th th:text="#{page.column-header.events}">Events</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contest : ${Contests}">
            <td class="contest">
                <span th:replace="~{links/contest-link.html :: contestLink(${contest})}"></span>
            </td>
            <td class="contest-event-count" th:text="${contest.eventCount}">0</td>
        </tr>
        </tbody>
    </table>
    <p th:replace="~{navigation/az-picker.html :: azPicker('contests', ${ContestPrefixLetter}, false, true)}"></p>
</div>
</body>
</html>
