<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.contest.title(${Contest.name})} + ' - Brass Band Results'}">Yorkshire Area (Championship Section) - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="contests/components/header.html :: header(${Contest},${PreviousNames})"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/contests/' + Contest.slug}" th:text="#{page.contest.tab.results(${PastEvents.size})}">Results</a>
        </li>
        <li class="nav-item" th:if="${OwnChoicePieceCount > 0}">
            <a class="nav-link" th:href="${'/contests/' + Contest.slug + '/own-choice'}" th:text="#{page.contest.tab.own-choice(${OwnChoicePieceCount})}">Own Choice Pieces Used</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/contests/' + Contest.slug + '/wins'}" th:text="#{page.contest.tab.wins}">Wins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/contests/' + Contest.slug + '/streaks'}" th:text="#{page.contest.tab.streaks}">Streaks</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <div th:if="${FutureEvents.size() > 0}">
            <h3 th:text="#{page.contest.header.future-events}">Future Events</h3>

            <ul>
                <li th:each="event : ${FutureEvents}">
                    <span th:text="#{page.contest.future-event-prompt}">We believe this contest will be run on</span>
                    <span th:replace="links/event-link.html :: eventLink(${event})">9th Sep 2023</span>
                    <span th:if="${event.venue != null}">
                        <span th:text="#{page.contest.future-event-prompt-at}">at</span>
                        <span th:replace="links/venue-link.html :: venueLink(${event.venue})"></span>
                    </span>

                </li>
            </ul>
        </div>

        <div th:if="${PastEvents.size() > 0}">
            <h3 th:text="#{page.contest.header.past-events}">Past Results</h3>

            <table class="table table-hover sortable">
                <thead>
                <tr>
                    <th th:text="#{page.column-header.date}" class="date">Date</th>
                    <th th:text="#{page.column-header.winner}">Winner</th>
                    <th th:text="#{page.column-header.conductor}">Conductor</th>
                    <th th:text="#{page.column-header.test-piece}">Test Piece</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${PastEvents}">
                    <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${event})">9th Sep 2023</span></td>
                    <span th:if="${!event.noContest}" th:remove="tag">
                        <td class="bbr-band">
                            <span th:each="result, iStat : ${event.winners}">
                                <span th:if="${iStat.index > 0}"><br/></span>
                                <span th:replace="links/band-link.html :: bandLinkWithOverride(${result})"></span>
                            </span>
                        </td>
                        <td class="bbr-conductor">
                            <span th:each="result, iStat : ${event.winners}">
                                <span th:if="${iStat.index > 0}"><br/></span>
                                <span th:replace="links/person-link.html :: conductorsLink(${result})">Bob Childs</span>
                            </span>
                        </td>
                        <td class="bbr-piece">
                            <span th:each="result : ${event.winners}">
                                <span th:replace="links/piece-link.html :: resultPieceWithSetTestIfNone(${result})">Test Piece</span>
                            </span>
                        </td>
                    </span>
                    <td th:if="${event.noContest}" colspan="3" th:text="${event.notes}">No Contest Notes</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p th:text="${Contest.notes}">Contest Notes</p>

        <span th:replace="links/tag-link.html :: tagCloudContest(${Contest})"></span>
    </div>
</div>
</body>
</html>
