<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout-markdown}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.contest-create.title} + ' - Brass Band Results'}">Create Contest - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.contest-create.title}">Create Contest</h2>

    <form th:object="${Form}"
          th:action = "${'/create/contest'}"
          method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="@{#{${err}}}"></li>
            </ul>
        </div>
        <div class="mb-3">
            <label class="form-label" for="name" th:text="#{page.field-prompt.name}">Name:</label>
            <input id="name" class="form-control" type="text" th:field="*{name}" maxlength="100" size="80" required/>
            <small class="form-text" th:text="#{page.contest-edit.hint.name}">The name of this contest, in the form Contest Name (Section), such as 'Yorkshire Area (Championship Section)'</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="contest-group" th:text="#{page.field-prompt.group}">Group:</label>
            <input id="contest-group" th:field="*{contestGroupName}" th:placeholder="#{page.form.placeholder.group}" autocomplete="off" class="form-control" type="text" maxlength="100" onkeyup="lookupMandatory('contest-group', 'group');"/>
            <input type="hidden" th:field="*{contestGroupSlug}" id="contest-group-slug"/>
            <small class="form-text" th:text="#{page.contest-edit.hint.group}">A container for all the sections of the same contest.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="contest-type" th:text="#{page.field-prompt.default-contest-type}">Default Contest Type:</label>
            <select id="contest-type" class="form-select" th:field="*{contestType}">
                <option th:each="contestType : ${ContestTypes}"
                        th:value="${contestType.id}"
                        th:text="#{'contest-types.' + ${contestType.slug}}">
                </option>
            </select>
            <small class="form-text" th:text="#{page.contest-edit.hint.contest-type}">The default type to use for events of this contest.  Can be overridden for a particular event.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="qualifies-for" th:text="#{page.field-prompt.qualifies-for}">Qualifies For:</label>
            <input id="qualifies-for" th:field="*{qualifiesForName}" th:placeholder="#{page.form.placeholder.contest}" autocomplete="off" class="form-control" type="text" maxlength="100" onkeyup="lookupMandatory('qualifies-for', 'contest');"/>
            <input type="hidden" th:field="*{qualifiesForSlug}" id="qualifies-for-slug"/>
            <small class="form-text" th:text="#{page.contest-edit.hint.qualifies-for}">Contest that bands who do well here qualify through to.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="region" th:text="#{page.field-prompt.region}">Region:</label>
            <select id="region" class="form-select" th:field="*{region}">
                <option value=""></option>
                <option th:each="region : ${Regions}"
                        th:value="${region.id}"
                        th:text="#{'region.' + ${region.slug}}">
                </option>
            </select>
            <small class="form-text" th:text="#{page.contest-edit.hint.region}">Region bands are drawn from. Leave blank for non-region limited contests.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="section" th:text="#{page.field-prompt.section}">Section:</label>
            <select id="section" class="form-select" th:field="*{section}">
                <option value=""></option>
                <option th:each="section : ${Sections}"
                        th:value="${section.id}"
                        th:text="#{'section.' + ${section.slug}}">
                </option>
            </select>
            <small class="form-text" th:text="#{page.contest-edit.hint.section}">Used to determine a band's section.  Leave blank if not applicable or contest is not nationally graded.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="ordering" th:text="#{page.field-prompt.ordering}">Ordering:</label>
            <input id="ordering" class="form-control" type="text" th:field="*{ordering}" maxlength="10" size="80"/>
            <small class="form-text" th:text="#{page.contest-edit.hint.ordering}">Order to show contest in group. Higher numbers are later in the list.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="notes" th:text="#{page.field-prompt.notes}">Notes:</label>
            <textarea id="notes" class="form-control" th:field="*{notes}" cols="80" rows="10"></textarea>
            <small class="form-text" th:text="#{page.contest-edit.hint.notes}">Notes about the contest</small>
        </div>
        <div class="mb-3">
            <input id="extinct" class="form-check-input" type="checkbox" th:field="*{extinct}"/>
            <label class="form-label" for="extinct" th:text="#{page.checkbox-prompt.extinct}">Extinct</label><br/>
            <small class="form-text" th:text="#{page.contest-edit.hint.extinct}">This marks the contest as one that is no longer run.</small>
        </div>
        <div class="mb-3">
            <input id="exclude-from-group-results" class="form-check-input" type="checkbox" th:field="*{excludeFromGroupResults}"/>
            <label class="form-label" for="exclude-from-group-results" th:text="#{page.checkbox-prompt.exclude-from-group-results}">Exclude from Group Results</label><br/>
            <small class="form-text" th:text="#{page.contest-edit.hint.exclude-from-group-results}">If true, this contest is not included in total points calculated from the group (ie Overall Whit Friday)</small>
        </div>

        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="submit" th:value="#{page.buttons.create}" class="btn btn-outline-success"/>
                </div>
                <div class="col text-end">
                </div>
            </div>
        </div>
    </form>
</div>

<div layout:fragment="feedback">
</div>

<div layout:fragment="scriptfooter">
    <script th:src="@{${STATIC_HOST} + '/js2023/lookup.js'}"></script>
    <script>
        function fill(inputId, matchSlug, matchName) {
            let inputElement = document.getElementById(inputId);
            let inputSlugElement = document.getElementById(inputId + '-slug');
            inputElement.value = matchName;
            inputSlugElement.value = matchSlug;
            inputElement.classList.remove("bg-warning-subtle");
            inputElement.classList.remove("bg-danger-subtle");
            inputElement.classList.add("bg-success-subtle");

            document.getElementById('list-' + inputId).remove();
        }
    </script>
</div>

</body>
</html>
