<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.user-list.title} + ' - Brass Band Results'}">User List - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.user-list.title}">Users</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/user-list/" th:text="#{page.user-list.tab.all}">All Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user-list/pro" th:text="#{page.user-list.tab.pro}">Pro Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user-list/superuser" th:text="#{page.user-list.tab.superuser}">Superusers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user-list/admin" th:text="#{page.user-list.tab.admins}">Admins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/user-list/unactivated" th:text="#{page.user-list.tab.unactivated}">Unactivated</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <p><span th:text="${Users.size}">123</span> Unactivated Users</p>
        <table id="users" class="table table-hover sortable">
            <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
                <th class="date">Created</th>
                <th>Key</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${Users}">
                <td th:text="${user.usercode}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${#temporals.format(user.created, 'dd MMM yyyy hh:mm:ss')}"></td>
                <td th:text="${user.activationKey}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>