<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.privacy.title} + ' - Brass Band Results'}">Privacy Policy - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Privacy Policy for Brass Band Results</h2>
    <p>At Brass Band Results we are committed to safeguarding and preserving the privacy of our visitors.
    <p>This Privacy Policy explains what happens to any personal data that you provide to us, or that we collect from you whilst you visit our site. 
    <p>We do update this Policy from time to time so please do review this Policy regularly.
    <h2>Information We Collect</h2> 
    <p>In running and maintaining our website we may collect and process the following data about you:
    <p>i. Information about your use of our site including details of your visits such as pages viewed and the resources that you access. Such information includes traffic data, location data and other communication data.
    <p>ii. Information provided voluntarily by you. For example, when you register for information or make a purchase. 
    <p>iii. Information that you provide when you communicate with us by any means.
    <p>iv. We use Google Analytics features based on Display Advertising.  Using the <a href="https://www.google.com/settings/ads">Ads Settings</a>, visitors can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads.
    <h2>Use of Your Information</h2>
    <p>We use the information that we collect from you to provide our services to you.  In addition to this we may use the information for one or more of the following purposes:
    <p>i. To provide information to you that you request from us relating to our services, including feedback from contest data you own. 
    <p>ii. To inform you of any changes to our website or services.
    <h2>Storing Your Personal Data</h2>
    <p>In operating our website it may become necessary to transfer data that we collect from you to locations outside of the European Union for processing and storing. By providing your personal data to us, you agree to this transfer, storing or processing. We do our upmost to ensure that all reasonable steps are taken to make sure that your data is treated stored securely.
    <p>Unfortunately the sending of information via the internet is not totally secure and on occasion such information can be intercepted. We cannot guarantee the security of data that you choose to send us electronically, Sending such information is entirely at your own risk. 
    <h2>Disclosing Your Information</h2>
    <p>We will not disclose your personal information to any other party other than in accordance with this Privacy Policy and in the circumstances detailed below:
    <p>i. In the event that we sell any or all of our business to the buyer.
    <p>ii. Where we are legally required by law to disclose your personal information.
    <p>iii. To further fraud protection and reduce the risk of fraud.
    <h2>Third Party Links</h2>
    <p>On occasion we include links to third parties on this website. Where we provide a link it does not mean that we endorse or approve that site’s policy towards visitor privacy. You should review their privacy policy before sending them any personal data. 
    <h2>Access to Information</h2>
    <p>In accordance with the GDPR you have the right to access any information that we hold relating to you. 
    <h2>Contacting Us</h2>
    <p>Please do not hesitate to contact us regarding any matter relating to this Privacy Policy at <script type="text/javascript"><!--
                  var xx='privacy';
                  var yy='brassbandresults.co.uk';
                  var addy=xx+'@'+yy;
                  document.write('<'+'a href="mailto:'+addy+'">'+addy+'<'+'/a'+'>'); //-->
                  </script>.
    </div>
    <h1 id="cookies">Cookies</h1>
    <p>This site uses cookies (files which are sent by us to your computer or other access device) which we can access when you visit our site in future.  By using this site, you agree to us sending these cookies to you. You do, however, have control and can change settings in your browser so that you do not save these cookies.</p>
    <p>Information on deleting or controlling cookies is available at <a href="http://www.aboutcookies.org">www.AboutCookies.org</a>. Please note that by deleting our cookies or disabling future cookies you may not be able to access certain areas or features of our site.</p>
    <h2>Advertising</h2>
    <p>This site is free to use, the associated costs involved in running the site are paid for through advertising and pro accounts.  Some of this advertising is from Google Adsense (<a href="https://www.google.com/adsense">https://www.google.com/adsense</a>) and will result in cookies being written to your machine, unless you change your browser settings to stop this happening.  The site will work fine without these cookies, but we would appreciate you signing up for a pro account to support the site.</p>
    <h2>Analytics</h2>
    <p>We use Google Analytics (<a href="https://www.google.com/analytics/">http://www.google.com/analytics/</a>) for tracking which pages are viewed on the site.  You can <a href="https://tools.google.com/dlpage/gaoptout/">opt out of google analytics</a> with a browser plugin.  This helps us find out which parts of the site are the most popular, so we can target our time at the things people like to see.  Google Analytics writes four cookies to your machine, unless you change your browser settings to stop this.  The site will work fine without these cookies, but we will not have as much information about the pages that users have looked at.</p>
    <h2>Logging In</h2>
    <p>If you login to an account on the site, we need to write a session cookie.  If you remove this cookie, the site will not work properly.</p>
 </div>
</body>
</html>