<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.person.title(${Person.name})} + ' - Brass Band Results'}">Person - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="~{people/components/header.html :: header(${Person},${PersonProfile},${PreviousNames})}"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:if="${PersonProfile != null}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/profile'}" th:text="#{page.person.tab.profile}">Profile</a>
        </li>
        <li class="nav-item" th:if="${ResultsCount > 0}">
            <a class="nav-link active" th:href="${'/people/' + Person.slug + '/conductor'}" th:text="#{page.person.tab.conducting(${ResultsCount})}">Conducting</a>
        </li>
        <li class="nav-item" th:if="${WhitCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/whits'}" th:text="#{page.person.tab.whits(${WhitCount})}">Whit Friday</a>
        </li>
        <li class="nav-item" th:if="${AdjudicationsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/adjudicator'}" th:text="#{page.person.tab.adjudicating(${AdjudicationsCount})}">Adjudicating</a>
        </li>

        <li class="nav-item" th:if="${UserAdjudicationsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/user-adjudications'}" th:text="#{page.person.tab.user-adjudications(${UserAdjudicationsCount})}">Your Adjudications</a>
        </li>
        <li class="nav-item" th:if="${PieceCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/pieces'}" th:text="#{page.person.tab.compositions(${PieceCount})}">Compositions</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <p th:if="${FilteredTo != null}" class="alert alert-warning">
            <a class="btn btn-sm btn-secondary text-white" th:href="${'/people/' + Person.slug}" th:text="#{page.filter.remove-link}">Remove Filter</a>
            <span th:text="#{page.filter.alert}">This view of the band's results is filtered to something.</span>
            <b th:text="${FilteredTo}"></b>
        </p>

        <div sec:authorize="hasRole('BBR_PRO')" class="chart-container" style="position: relative; width:15vw">
            <canvas id="pieChart"></canvas>
        </div>

        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th th:text="#{page.column-header.date}" class="date">Date</th>
                    <th th:text="#{page.column-header.contest}">Contest</th>
                    <th th:text="#{page.column-header.band}">Band</th>
                    <th th:text="#{page.column-header.position}" class="result">Position</th>
                    <th th:text="#{page.column-header.draw}" class="number">Draw</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${ConductingResults}" th:class="${'result-' + result.position}">
                    <td class="bbr-event" nowrap><span th:replace="~{links/event-link.html :: eventLink(${result.contestEvent})}">9th Sep 2023</span></td>
                    <td class="bbr-contest">
                        <img class="toggle-filter" th:data-id="${result.id}" th:src="@{${STATIC_HOST} + '/icons/zoom_in.png'}" th:alt="#{page.filter.prompt}" th:title="#{page.filter.prompt}"/>
                        <span th:title="${'Competed as ' + result.bandName}" th:text="${result.contestEvent.contest.name}">Yorkshire Area</span>
                        <div class="toggle-filter-links" th:id="${'toggle-filter-' + result.id}">
                            <a class="btn btn-sm btn-secondary text-white mt-1" th:href="${'/people/' + Person.slug + '/filter/' + result.contestEvent.contest.slug}" th:text="#{filter.this-contest}">This Contest</a>
                            <a class="btn btn-sm btn-secondary text-white mt-1" th:if="${result.contestEvent.contest.contestGroup != null}" th:href="${'/people/' + Person.slug + '/filter/' + result.contestEvent.contest.contestGroup.slug}" th:text="#{filter.this-group}">This Group</a>
                            <span th:each="eachTag : ${result.tags}" th:remove="tag">
                                <a class="btn btn-sm btn-secondary text-white mt-1" th:href="${'/people/' + Person.slug + '/tag/' + eachTag.tagSlug}" th:text="${eachTag.tagName}">Tag name</a>
                            </span>
                        </div>
                    </td>
                    <td class="bbr-band"><span th:replace="~{links/band-link.html :: bandLinkWithOverride(${result})}"></span></td>
                    <td class="bbr-position">
                        <span th:replace="~{components/results-position.html :: resultsPosition(${result})}">1</span>
                        <span th:replace="~{components/results-position.html :: resultAward(${result})}"></span>
                        <img th:if="${result.hasNotes}" th:title="${result.notes}" th:src="@{${STATIC_HOST} + '/icons/comment.png'}"/>
                    </td>
                    <td class="bbr-draw"><span th:if="${result.draw != 0}" th:text="${result.draw}">1</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scriptfooter">
    <script th:src="@{${STATIC_HOST} + '/js2023/filter-toggle.js'}"></script>
    <script sec:authorize="hasRole('BBR_PRO')">
        const pieChart = document.getElementById('pieChart');
        const pieData = {
            datasets: [{
                data: [
                    [[${WinsCount}]],
                    [[${TopSixCount}]],
                    [[${UnplacedCount}]]
                ],
                backgroundColor: [
                    '#f9f1be',
                    '#c3c7d0',
                    '#b3d1fe'
                ],
            }],
            labels: [
                '[[#{chart.pie.win}]]',
                '[[#{chart.pie.top-six}]]',
                '[[#{chart.pie.unplaced}]]'
            ],

        }
        const pieChartConfig = {
            type: 'pie',
            data: pieData
        }

        new Chart(pieChart, pieChartConfig);
    </script>
</div>

</body>
</html>
