<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.person.title(${Person.name})} + ' - Brass Band Results'}">Person - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="people/components/header.html :: header(${Person},${PersonProfile},${PreviousNames})"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:if="${PersonProfile != null}">
            <a class="nav-link active" th:href="${'/people/' + Person.slug + '/profile'}" th:text="#{page.person.tab.profile}">Profile</a>
        </li>
        <li class="nav-item" th:if="${ResultsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/conductor'}" th:text="#{page.person.tab.conducting(${ResultsCount})}">Conducting</a>
        </li>
        <li class="nav-item" th:if="${WhitCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/whits'}" th:text="#{page.person.tab.whits(${WhitCount})}">Whit Friday</a>
        </li>
        <li class="nav-item" th:if="${AdjudicationsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/adjudicator'}" th:text="#{page.person.tab.adjudicating(${AdjudicationsCount})}">Adjudicating</a>
        </li>

        <li class="nav-item" th:if="${UserAdjudicationsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/user-adjudications'}" th:text="#{page.person.tab.user-adjudications(${UserAdjudicationsCount})}">Your Adjudications</a>
        </li>
        <li class="nav-item" th:if="${PieceCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/pieces'}" th:text="#{page.person.tab.compositions(${PieceCount})}">Compositions</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <table>
            <tr th:if="${PersonProfile.email != null && PersonProfile.email.length > 0}"><th th:text="#{page.field-prompt.email}">Email:</th><td th:text="${PersonProfile.email}"></td></tr>
            <tr th:if="${PersonProfile.website != null && PersonProfile.website.length > 0}"><th th:text="#{page.field-prompt.website}">Website:</th><td th:text="${PersonProfile.website}"></td></tr>
            <tr th:if="${PersonProfile.address != null && PersonProfile.address.length > 0}"><th th:text="#{page.field-prompt.address}">Address:</th><td th:text="${PersonProfile.address}"></td></tr>
            <tr th:if="${PersonProfile.homePhone != null && PersonProfile.homePhone.length > 0}"><th th:text="#{page.field-prompt.telephone}">Telephone:</th><td th:text="${PersonProfile.homePhone}"></td></tr>
            <tr th:if="${PersonProfile.mobilePhone != null && PersonProfile.mobilePhone.length > 0}"><th th:text="#{page.field-prompt.mobile}">Mobile:</th><td th:text="${PersonProfile.mobilePhone}"></td></tr>
        </table>
        <br/>
        <p th:text="${PersonProfile.profile}"></p>
    </div>
</div>

<div layout:fragment="scriptfooter">
    <script th:src="@{${STATIC_HOST} + '/js2023/filter-toggle.js'}"></script>
</div>

</body>
</html>
