<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.profile.title(${User.usercode})} + ' - Brass Band Results'}">About Us - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="~{profile/components/header.html :: header(${User})}"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/profile" th:text="#{page.profile.tab.pro}">Pro Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/performances"  th:text="#{page.profile.tab.performances}">Performances</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/profile/people-profiles"  th:text="#{page.profile.tab.people-profiles}">People Profiles</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <table id="people" class="table table-hover sortable">
            <thead>
            <tr>
                <th th:text="#{page.column-header.name}">Name</th>
                <th th:text="#{page.column-header.last-changed}">Last Changed</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="profile : ${Profiles}">
                <td class="person">
                    <span th:replace="~{links/person-link.html :: personLink(${profile.person})}"></span>
                </td>
                <td><span th:text="${#temporals.format(profile.updated, 'dd MMM yyyy')}">date</span></td>
                <td><span th:replace="~{buttons/edit.html :: editPersonProfile(${profile})}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
