<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.profile.title(${User.usercode})} + ' - Brass Band Results'}">About Us - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${User.usercode}">Profile</h2>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    <span th:text="#{page.profile.member-since}" th:remove="tag">Member since</span>
                    <span th:text="${#temporals.format(User.created, 'dd MMM yyyy')}">date</span>
                </p>
            </div>
            <div class="col text-end">
                <span th:replace="components/gravatar.html :: icon(${User})"></span>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/profile" th:text="#{page.profile.tab.pro}">Pro Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/profile/performances"  th:text="#{page.profile.tab.performances}">Performances</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
         <table class="table table-hover sortable">
            <thead>
            <tr>
                <th th:text="#{page.column-header.date}" class="date">Date</th>
                <th th:text="#{page.column-header.contest}">Contest</th>
                <th th:text="#{page.column-header.band}">Band</th>
                <th th:text="#{page.column-header.conductor}">Conductor</th>
                <th th:text="#{page.column-header.music}">Music</th>
                <th th:text="#{page.column-header.position}">Position</th>
                <th th:text="#{page.column-header.instrument}">Instrument</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="performance : ${ApprovedPerformances}">
                <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${performance.result.contestEvent})">9th Sep 2023</span></td>
                <td th:text="${performance.result.contestEvent.name}"></td>
                <td class="bbr-band"><span th:replace="links/band-link.html :: bandLinkWithOverride(${performance.result})"></span></td>
                <td class="bbr-conductor"><span th:replace="links/person-link.html :: conductorsLink(${performance.result})">Bob Childs</span></td>
                <td class="bbr-piece"><span th:replace="links/piece-link.html :: resultPieceWithSetTestIfNone(${performance.result})">Test Piece</span></td>
                <td th:text="${performance.result.positionDisplay}"></td>
                <td><span th:if="${performance.instrument != null}" th:text="#{${performance.instrument.translationKey}}">Percussion</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
