<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.profile.title(${User.usercode})} + ' - Brass Band Results'}">About Us - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="~{profile/components/header.html :: header(${User})}"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/profile" th:text="#{page.profile.tab.pro}">Pro Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/profile/performances"  th:text="#{page.profile.tab.performances}">Performances</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile/people-profiles"  th:text="#{page.profile.tab.people-profiles}">People Profiles</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <span th:if="${User.contestHistoryVisibility.code == 'O'}">
            <span th:text="#{page.profile.history-visible.public}">Your contest history is publicly visible.</span>
            <span th:replace="~{profile/components/buttons.html :: makePrivate()}"></span>
            <span th:replace="~{profile/components/buttons.html :: makeSiteOnly()}"></span>
        </span>
        <span th:if="${User.contestHistoryVisibility.code == 'P'}">
            <span th:text="#{page.profile.history-visible.private}">Your contest history is private and is not visible to others.</span>
            <span th:replace="~{profile/components/buttons.html :: makePublic()}"></span>
            <span th:replace="~{profile/components/buttons.html :: makeSiteOnly()}"></span>
        </span>
        <span th:if="${User.contestHistoryVisibility.code == 'S'}">
            <span th:text="#{page.profile.history-visible.site}">Your contest history is visible to users logged into this site.</span>
            <span th:replace="~{profile/components/buttons.html :: makePublic()}"></span>
            <span th:replace="~{profile/components/buttons.html :: makePrivate()}"></span>
        </span>

        <br/>
        <br/>
        <div>
            <span th:text="#{page.profile.bands-prompt(${BandList.size()})}">You have competed with 1 bands: </span>
            <span th:each="band : ${BandList}">
                <span th:replace="~{links/band-link.html :: bandLink(${band}, true, false)}">Band</span>
            </span>
        </div>

        <div>
            <span th:text="#{page.profile.conductors-prompt(${ConductorList.size()})}">You have been conducted by 1 people: </span>
            <span th:each="conductor : ${ConductorList}">
                <span th:replace="~{links/person-link.html :: personLink(${conductor})}">Conductor</span>
            </span>
        </div>

        <div>
            <span th:text="#{page.profile.contest-stats(${ContestCount},${WinsCount})}">You have taken part in 10 contests and won 4 of them.</span>
        </div>

        <br/>

        <div sec:authorize="hasRole('BBR_PRO')" class="chart-container" style="position: relative; width:15vw">
            <canvas id="pieChart"></canvas>
        </div>

         <table class="table table-hover sortable">
            <thead>
            <tr>
                <th th:text="#{page.column-header.date}" class="date">Date</th>
                <th th:text="#{page.column-header.contest}">Contest</th>
                <th th:text="#{page.column-header.band}">Band</th>
                <th th:text="#{page.column-header.conductor}">Conductor</th>
                <th th:text="#{page.column-header.music}">Music</th>
                <th th:text="#{page.column-header.position}">Position</th>
                <th th:text="#{page.column-header.instrument}">Instrument</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="performance : ${ApprovedPerformances}">
                <td class="bbr-event" nowrap><span th:replace="~{links/event-link.html :: eventLink(${performance.result.contestEvent})}">9th Sep 2023</span></td>
                <td th:text="${performance.result.contestEvent.name}"></td>
                <td class="bbr-band"><span th:replace="~{links/band-link.html :: bandLinkWithOverride(${performance.result})}"></span></td>
                <td class="bbr-conductor"><span th:replace="~{links/person-link.html :: conductorsLink(${performance.result})}">Bob Childs</span></td>
                <td class="bbr-piece"><span th:replace="~{links/piece-link.html :: resultPieceWithSetTestIfNone(${performance.result})}">Test Piece</span></td>
                <td th:text="${performance.result.positionDisplay}"></td>
                <td><span th:if="${performance.instrument != null}" th:text="#{${performance.instrument.translationKey}}">Percussion</span></td>
                <td><span th:replace="~{buttons/edit.html :: editPerformance(${performance})}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scriptfooter">
    <script sec:authorize="hasRole('BBR_PRO')">
        const pieChart = document.getElementById('pieChart');
        const pieData = {
            datasets: [{
                data: [
                    [[${WinsCount}]],
                    [[${TopSixCount}]],
                    [[${UnplacedCount}]]
                ],
                backgroundColor: [
                    '#f9f1be',
                    '#c3c7d0',
                    '#0d6efd'
                ],
            }],
            labels: [
                '[[#{chart.pie.win}]]',
                '[[#{chart.pie.top-six}]]',
                '[[#{chart.pie.unplaced}]]'
            ],

        }
        const pieChartConfig = {
            type: 'pie',
            data: pieData
        }

        new Chart(pieChart, pieChartConfig);
    </script>
</div>

</body>
</html>
