<span th:fragment="removeTestPiece(event, eventPiece)" th:remove="tag">
    <span th:replace="buttons/button.html :: dangerButton(#{page.buttons.remove}, ${'/contests/' + event.contest.slug + '/' + event.eventDateForUrl + '/edit-set-tests/' + eventPiece.id + '/delete'})"></span>
</span>

<span th:fragment="removeResultPiece(event, result, resultPiece)" th:remove="tag">
    <span th:replace="buttons/button.html :: dangerButton(#{page.buttons.remove}, ${'/contests/' + event.contest.slug + '/' + event.eventDateForUrl + '/result/' + result.id + '/' + resultPiece.id + '/delete'})"></span>
</span>
