<span th:fragment="deleteBandRelationship(band, bandRelationship)" th:remove="tag">
    <span th:replace="~{buttons/button.html :: dangerButton(#{page.buttons.delete}, ${'/bands/' + band.slug + '/edit-relationships/' + bandRelationship.id + '/delete'})}"></span>
</span>

<span th:fragment="deletePersonRelationship(person, personRelationship)" th:remove="tag">
    <span th:replace="~{buttons/button.html :: dangerButton(#{page.buttons.delete}, ${'/people/' + person.slug + '/edit-relationships/' + personRelationship.id + '/delete'})}"></span>
</span>
