    <!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.bands-aliases.title(${Band.name})} + ' - Brass Band Results'}">Band Aliases - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
  <h2><span th:replace="links/band-link.html :: bandLink(${Band}, false, false)"></span> <span th:text="#{page.band-aliases.page-header}" th:remove="tag">Aliases</span></h2>
    <table id="bands-aliases" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.column-header.alias}">Alias</th>
            <th th:text="#{page.column-header.visibility}">Visibility</th>
            <th th:text="#{page.column-header.start-date}">Start Date</th>
            <th th:text="#{page.column-header.end-date}">End Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="previousName : ${PreviousNames}">
            <td class="band-alias" th:text="${previousName.getOldName()}"></td>
            <td>
                <span th:text="#{page.aliases.hidden}" th:if="${previousName.hidden}">Hidden</span>
                <span th:text="#{page.aliases.visible}" th:if="${!previousName.hidden}">Visible</span>
            </td>
            <td th:text="${previousName.startDateDisplay}"></td>
            <td th:text="${previousName.endDateDisplay}"></td>
            <td>
                <span th:replace="buttons/alias.html :: editBandAlias(${Band}, ${previousName})">edit</span>
                <span th:replace="buttons/alias.html :: deleteBandAlias(${Band}, ${previousName})">delete</span>
                <span th:if="${!previousName.hidden}" th:remove="tag">
                    <span th:replace="buttons/alias.html :: hideBandAlias(${Band}, ${previousName})">hide</span>
                </span>
                <span th:if="${previousName.hidden}" th:remove="tag">
                    <span th:replace="buttons/alias.html :: showBandAlias(${Band}, ${previousName})" th:if="${previousName.hidden}">show</span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="POST" th:action="${'/bands/' + Band.slug + '/edit-aliases/add'}">
        <input type="text" maxlength="100" size="50" id="oldName" name="oldName" th:placeholder="#{page.form.placeholder.alias-name}"/>
        <input type="submit" th:value="#{page.buttons.save-new-alias}" class="btn btn-success btn-sm rounded"/>
    </form>
</div>

<div layout:fragment="feedback">
</div>

</body>
</html>