<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="@{#{page.band.title(${Band.name})} + ' - Brass Band Results'}">Band - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="~{bands/components/header.html :: header(${Band},${PreviousNames})}"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/bands/' + Band.slug}" th:text="#{page.band.tab.contests(${ResultsCount})}">Contests</a>
        </li>
        <li class="nav-item" th:if="${WhitCount > 0}">
            <a class="nav-link" th:href="${'/bands/' + Band.slug + '/whits'}" th:text="#{page.band.tab.whits(${WhitCount})}">Whit Friday</a>
        </li>
        <li class="nav-item" th:if="${Band.hasLocation()}">
            <a class="nav-link" th:href="${'/bands/' + Band.slug + '/map'}" th:text="#{page.band.tab.map}">Map</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <p th:if="${FilteredTo != null}" class="alert alert-warning">
            <a class="btn btn-sm btn-secondary text-white" th:href="${'/bands/' + Band.slug}" th:text="#{page.filter.remove-link}">Remove Filter</a>
            <span th:text="#{page.filter.alert}">This view of the band's results is filtered to something.</span>
            <b th:text="${FilteredTo}"></b>
        </p>

        <div sec:authorize="hasRole('BBR_PRO')" class="chart-container" style="position: relative; width:15vw">
            <canvas id="pieChart"></canvas>
        </div>

        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th th:text="#{page.column-header.date}" class="date">Date</th>
                    <th th:text="#{page.column-header.contest}">Contest</th>
                    <th th:text="#{page.column-header.position}" class="result">Position</th>
                    <th th:text="#{page.column-header.test-piece}">Test Piece</th>
                    <th th:text="#{page.column-header.draw}" class="number">Draw</th>
                    <th th:text="#{page.column-header.conductor}">Conductor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${BandResults}" th:class="${'result-' + result.position}">
                    <td class="bbr-event" nowrap><span th:replace="~{links/event-link.html :: eventLink(${result.contestEvent})}">9th Sep 2023</span></td>
                    <td class="bbr-contest">
                        <img class="toggle-filter" th:data-id="${result.id}" th:src="@{${STATIC_HOST} + '/icons/zoom_in.png'}" th:alt="#{page.filter.prompt}" th:title="#{page.filter.prompt}"/>
                        <span th:title="${'Competed as ' + result.bandName}" th:text="${result.contestEvent.contest.name}">Yorkshire Area</span>
                        <div class="toggle-filter-links" th:id="${'toggle-filter-' + result.id}">
                            <a class="btn btn-sm btn-secondary text-white mt-1" th:href="${'/bands/' + Band.slug + '/filter/' + result.contestEvent.contest.slug}" th:text="#{filter.this-contest}">This Contest</a>
                            <a class="btn btn-sm btn-secondary text-white mt-1" th:if="${result.contestEvent.contest.contestGroup != null}" th:href="${'/bands/' + Band.slug + '/filter/' + result.contestEvent.contest.contestGroup.slug}" th:text="#{filter.this-group}">This Group</a>
                            <span th:each="eachTag : ${result.tags}" th:remove="tag">
                                <a class="btn btn-sm btn-secondary text-white mt-1" th:href="${'/bands/' + Band.slug + '/tag/' + eachTag.tagSlug}" th:text="${eachTag.tagName}">Tag name</a>
                            </span>
                        </div>
                    </td>
                    <td class="bbr-position"><span th:replace="~{components/results-position.html :: resultsPosition(${result})}">1</span></td>
                    <td class="bbr-piece"><span th:replace="~{links/piece-link.html :: resultPieceWithSetTestIfNone(${result})}">Test Piece</span></td>
                    <td class="bbr-draw"><span th:if="${result.draw != 0}" th:text="${result.draw}">1</span></td>
                    <td class="bbr-conductor"><span th:replace="~{links/person-link.html :: conductorsLinkWithUnknown(${result})}">Bob Childs</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scriptfooter">
    <script th:src="@{${STATIC_HOST} + '/js2023/filter-toggle.js'}"></script>
    <script sec:authorize="hasRole('BBR_PRO')">
        const pieChart = document.getElementById('pieChart');
        const pieData = {
            datasets: [{
                data: [
                    [[${WinsCount}]],
                    [[${TopSixCount}]],
                    [[${UnplacedCount}]]
                ],
                backgroundColor: [
                    '#f9f1be',
                    '#c3c7d0',
                    '#b3d1fe'
                ],
            }],
            labels: [
                '[[#{chart.pie.win}]]',
                '[[#{chart.pie.top-six}]]',
                '[[#{chart.pie.unplaced}]]'
            ],

        }
        const pieChartConfig = {
            type: 'pie',
            data: pieData
        }

        new Chart(pieChart, pieChartConfig);
    </script>
</div>

</body>
</html>
