<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.band.title(${Band.name})} + ' - Brass Band Results'}">Band - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="bands/components/header.html :: header(${Band},${PreviousNames})"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/bands/' + Band.slug}" th:text="#{page.band.tab.contests(${ResultsCount})}">Contests</a>
        </li>
        <li class="nav-item" th:if="${WhitCount > 0}">
            <a class="nav-link" th:href="${'/bands/' + Band.slug + '/whits'}" th:text="#{page.band.tab.whits(${WhitCount})}">Whit Friday</a>
        </li>
    </ul>
    <br/>

    <p th:if="${FilteredTo != null}" class="alert alert-warning">
        <span th:text="#{page.band.filter-prompt}">This view of the band's results is filtered to something.</span>
        <b th:text="${FilteredTo}"></b>
        <a class="btn btn-sm btn-secondary text-white" th:href="${'/bands/' + Band.slug}" th:text="#{page.band.filter-remove}">Remove Filter</a>
    </p>

    <div class="tab-content">
        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th th:text="#{page.column-header.date}" class="date">Date</th>
                    <th th:text="#{page.column-header.contest}">Contest</th>
                    <th th:text="#{page.column-header.position}" class="result">Position</th>
                    <th th:text="#{page.column-header.test-piece}">Test Piece</th>
                    <th th:text="#{page.column-header.draw}" class="number">Draw</th>
                    <th th:text="#{page.column-header.conductor}">Conductor</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="result : ${BandResults}" th:class="${'result-' + result.position}">
                    <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${result.contestEvent})">9th Sep 2023</span></td>
                    <td class="bbr-contest">
                        <img class="toggle-filter" th:data-id="${result.id}" th:src="@{${STATIC_HOST} + '/icons/zoom_in.png'}" th:alt="#{page.filter.prompt}" th:title="#{page.filter.prompt}"/>
                        <span th:title="${'Competed as ' + result.bandName}" th:text="${result.contestEvent.contest.name}">Yorkshire Area</span>
                        <div class="toggle-filter-links" th:id="${'toggle-filter-' + result.id}">
                            <a class="btn btn-sm btn-secondary text-white" th:href="${'/bands/' + Band.slug + '/' + result.contestEvent.contest.slug}" th:text="#{filter.this-contest}">This Contest</a>
                            <a class="btn btn-sm btn-secondary text-white" th:if="${result.contestEvent.contest.contestGroup != null}" th:href="${'/bands/' + Band.slug + '/' + result.contestEvent.contest.contestGroup.slug}" th:text="#{filter.this-group}">This Group</a>
                            <span th:each="eachTag : ${result.tags}" th:remove="tag">
                                <a class="btn btn-sm btn-secondary text-white" th:href="${'/bands/' + Band.slug + '/' + eachTag.contestSlug}" th:text="${eachTag.tagName}">Tag name</a>
                            </span>
                        </div>
                    </td>
                    <td class="bbr-position"><span th:replace="components/results-position.html :: resultsPosition(${result})">1</span></td>
                    <td class="bbr-piece"><span th:replace="links/piece-link.html :: resultPieceLink(${result})">Test Piece</span></td>
                    <td class="bbr-draw"><span th:if="${result.draw != 0}" th:text="${result.draw}">1</span></td>
                    <td class="bbr-conductor"><span th:replace="links/person-link.html :: conductorsLink(${result})">Bob Childs</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div layout:fragment="scriptfooter">
<script th:src="@{${STATIC_HOST} + '/js2023/filter-toggle.js'}"></script>
</div>
</body>
</html>