<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.band.title(${Band.name})}">Band - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${Band.name}"></h2>
    <small>
        <b><span th:text="#{page.band.aka}"></span>:</b>
        <span th:each="previousName, iterStat : ${PreviousNames}">
            <span th:text="${!iterStat.last} ? ${previousName.oldName} + ', ': ${previousName.oldName}">previous name</span>
        </span>
    </small>

    <table>
        <tr><td colspan="2" th:if="${Band.status.notCompeting}" th:text="#{${Band.status.translationKey} +'.long'}">Band Status</td></tr>
        <tr th:if="${Band.section}">
            <th th:text="#{page.band.details.section}">Section:</th>
            <td th:text="#{${Band.section.translationKey}}"></td>
        </tr>
        <tr>
            <th th:text="#{page.band.details.website}">Website:</th>
            <td th:text="${Band.website}"></td>
        </tr>
        <tr>
            <th th:text="#{page.band.details.region}">Region:</th>
            <td><span th:replace="links/region-link.html :: regionLink(${Band.region})"></span></td>
        </tr>
        <tr th:if="${Band.dateRange.length > 0}">
            <th th:text="#{page.band.details.years}">Years active:</th>
            <td th:text="${Band.dateRange}"></td>
        </tr>
        <tr>
            <th th:text="#{page.band.details.rehearsals}">Rehearsals:</th>
            <td></td>
        </tr>
    </table>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:if="${ResultsCount > 0}">
            <a class="nav-link" th:href="${'/bands/' + Band.slug}" th:text="#{page.band.tab.contests(${ResultsCount})}">Contests</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/bands/' + Band.slug + '/whits'}" th:text="#{page.band.tab.whits(${WhitCount})}">Whit Friday</span></a>
        </li>
    </ul>
    <br/>

    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th th:text="#{page.band.column-header-date}">Date</th>
                <th th:text="#{page.band.column-header-contest}">Contest</th>
                <th th:text="#{page.band.column-header-position}">Position</th>
                <th th:text="#{page.band.column-header-march}">March</th>
                <th th:text="#{page.band.column-header-conductor}">Conductor</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${BandResults}" th:class="${'result-' + result.position}">
                <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${result.contestEvent})">9th Sep 2023</span></td>
                <td class="bbr-contest" th:text="${result.contestEvent.contest.name}">Yorkshire Area</td>
                <td class="bbr-position"><span th:replace="components/results-position.html :: resultsPosition(${result})">1</span></td>
                <td class="bbr-piece"><span th:replace="links/piece-link.html :: resultPieceLink(${result})">Test Piece</span></td>
                <td class="bbr-conductor"><span th:replace="links/person-link.html :: personLink(${result.conductor}, false, false)">Bob Childs</span></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>