<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.band-edit.title(${Band.name})} + ' - Brass Band Results'}">Band - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2><span th:text="#{page.edit-header-prefix}" th:remove="tag">Edit</span> <span th:text="${BandAlias.oldName}" th:remove="tag">Band Alias Name</span> <span th:text="#{page.edit-header-suffix}" th:remove="tag">Dates</span></h2>

    <form th:object="${BandAliasForm}"
          th:action = "${'/bands/' + Band.slug + '/edit-aliases/' + BandAlias.id + '/edit-dates'}"
          method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="@{#{${err}}}"></li>
            </ul>
        </div>
        <div class="mb-3">
            <label class="form-label" for="startDate" th:text="#{page.field-prompt.start-date}">Start date:</label>
            <input id="startDate" class="form-control" type="date" th:field="*{startDate}"/>
            <small class="form-text" th:text="#{page.band-alias-edit.hint.start-date}">Band Alias won't be matched with results before this date.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="endDate" th:text="#{page.field-prompt.end-date}">End date:</label>
            <input id="endDate" class="form-control" type="date" th:field="*{endDate}"/>
            <small class="form-text" th:text="#{page.band-alias-edit.hint.end-date}">Band Alias won't be matched with results after this date.</small>
        </div>

        <input type="submit" th:value="#{page.buttons.save-changes}" class="btn btn-outline-success"/>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <a th:href="${'/bands/' + Band.slug + '/edit-aliases'}" th:text="#{page.buttons.cancel-without-saving}" class="btn btn-light">Cancel wout saving</a>
    </form>
</div>

<div layout:fragment="feedback">
</div>

</body>
</html>
