<span th:fragment="bandLink(band, showFlag, showDateRange)">
    <span th:if="${band != null && band.slug != null && band.name != null}" th:remove="tag">
        <img th:if="${showFlag && band.region != null && band.region.countryCode != null}" th:title="${band.region.name}" th:src="@{${STATIC_HOST} + '/flags/' + ${band.region.countryCode} + '.png'}"/>
        <a th:href="${'/bands/' + band.slug}" th:text="${band.name}" class="bbr-band">Band Name</a>
        <small th:if="${showDateRange && band.dateRange.length > 0}"><small><span th:text="${band.dateRange}" th:remove="tag">1950-2000</span></small></small>
    </span>
</span>

<span th:fragment="bandLinkWithOverride(result)">
    <span th:if="${result != null}" th:remove="tag">
        <span th:if="${result.contestEvent != null && result.contestEvent.noContest}" th:remove="tag">
            <span class="text-primary" th:text="#{no-contest-took-place}">No Contest Took Place</span>
        </span>
        <span th:if="${result.band != null && result.band.slug != null }" th:remove="tag">
            <img th:if="${result.band.region != null}" th:title="${result.band.region.name}" th:src="@{${STATIC_HOST} + '/flags/' + ${result.band.region.countryCode} + '.png'}"/>
            <a th:href="${'/bands/' + result.band.slug}" th:text="${result.bandName}" class="bbr-band" th:title="${result.band.name}">Band Name</a>
        </span>
    </span>
</span>

<span th:fragment="bandLinkWithNameOverride(band, bandNameOverride)">
    <span th:if="${band != null}" th:remove="tag">
        <img th:if="${band.region != null}" th:title="${band.region.name}" th:src="@{${STATIC_HOST} + '/flags/' + ${band.region.countryCode} + '.png'}"/>
        <a th:href="${'/bands/' + band.slug}" th:text="${bandNameOverride}" class="bbr-band" th:title="${band.name}">Band Name</a>
    </span>
</span>
