<span th:fragment="groupLink(group)">
    <a th:if="${group != null}" th:href="${'/contests/' + group.slug}" th:text="${group.name}" class="bbr-group">Group Name</a>
</span>

<span th:fragment="groupLinkFromContest(contest)">
    <a th:if="${contest != null && contest.contestGroup != null}" th:href="${'/contests/' + contest.contestGroup.slug}" th:text="${contest.name}" class="bbr-group">Group Name</a>
</span>

<span th:fragment="calendarGroupLink(group, year)">
    <a th:if="${group != null}" th:href="${'/contests/' + group.slug + '/' + year}" th:text="${group.name}" class="bbr-group">Group Name</a>
</span>
