<span th:fragment="personLink(person, surnameFirst, showKnownFor)">
    <span th:if="${person != null}">
        <span th:if="${person.slug == 'unknown'}">
            <span class="text-danger">Unknown</span>
        </span>
        <span th:if="${person.slug != 'unknown'}">
            <span th:if="${surnameFirst}">
                <a th:if="${person != null}" th:href="${'/people/' + person.slug}" th:text="${person.nameSurnameFirst}" class="bbr-person">Childs, Bob</a>
            </span>
            <span th:if="${!surnameFirst}">
                <a th:if="${person != null}" th:href="${'/people/' + person.slug}" th:text="${person.name}" class="bbr-person">Bob Childs</a>
            </span>
            <span th:if="${showKnownFor}">
                <small th:if="${person.knownFor != null && person.knownFor.length > 0}"><span th:text="${person.knownFor}">Rothwell Temperance</span></small>
            </span>
        </span>
    </span>
</span>

<span th:fragment="conductorsLink(result)">
    <span th:if="${result != null}">
        <span th:replace="links/person-link.html :: personLink(${result.conductor}, false, false)">Bob Childs</span>
        <span th:if="${result.conductorSecond != null}">
          <br/><span th:replace="links/person-link.html :: personLink(${result.conductorSecond}, false, false)">Bob Childs</span>
        </span>
        <span th:if="${result.conductorThird != null}">
            <br/><span th:replace="links/person-link.html :: personLink(${result.conductorThird}, false, false)">Bob Childs</span>
        </span>
    </span>
</span>

