<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.signup-activated.title} + ' - Brass Band Results'}">Account Activated - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.signup-activated.title}">Account Activated</h2>
    <p th:text="#{page.signup-activated.prompt-1}">Your account has been activated.  Thanks for helping.</p>
    <p th:utext="#{page.signup-activated.prompt-2}"><a href="/acc/sign-in?next=/">Sign in here</a></p>
</div>
</body>
</html>