<div th:fragment="header(Band, PreviousNames)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h2>
        <span th:remove="tag" th:text="${Band.name}">Band Name</span>
        <small th:if="${Band.dateRange != null && Band.dateRange.length > 0}"><small><small th:text="${Band.dateRange}">1940-</small></small></small>
    </h2>
    <div>
        <div class="row">
            <div class="col">
                <span sec:authorize="hasRole('BBR_SUPERUSER')" th:replace="~{buttons/edit.html :: editBand(${Band})}"></span>
                <span sec:authorize="hasRole('BBR_SUPERUSER')" th:replace="~{buttons/edit.html :: editBandAliases(${Band})}"></span>
                <span sec:authorize="hasRole('BBR_SUPERUSER')" th:replace="~{buttons/edit.html :: editBandRelationships(${Band})}"></span>
                <span sec:authorize="hasRole('BBR_SUPERUSER')" th:replace="~{buttons/edit.html :: editRehearsalDays(${Band})}"></span>
                <br sec:authorize="hasRole('BBR_SUPERUSER')"/>
                <span th:replace="~{components/aliases.html :: previousNames(${PreviousNames})}"></span>
            </div>
            <div class="col-2 text-end">
                <span th:replace="~{buttons/create.html :: embedBand(${Band})}"></span>
            </div>
        </div>
    </div>
    <br/><br/>
    <table>
        <tr><td colspan="2" th:if="${Band.status.notCompeting}" th:text="#{${Band.status.translationKey} +'.long'}">Band Status</td></tr>
        <tr th:if="${Band.section}">
            <th th:text="#{page.field-prompt.section}">Section:</th>
            <td th:text="#{${Band.section.translationKey}}"></td>
        </tr>
        <tr th:if="${Band.website != null && Band.website.length > 0}">
            <th th:text="#{page.field-prompt.website}">Website:</th>
            <td><a th:href="${Band.website}" th:text="${Band.website}">link</a></td>
        </tr>
        <tr>
            <th th:text="#{page.field-prompt.region}">Region:</th>
            <td><span th:replace="~{links/region-link.html :: regionLink(${Band.region})}"></span></td>
        </tr>
        <tr th:if="${BandRehearsalDays.size() > 0}">
            <th th:text="#{page.field-prompt.rehearsals}">Rehearsals:</th>
            <td>
                <span th:each="rehearsalDay : ${BandRehearsalDays}" th:remove="tag">
                    <span th:text="#{${rehearsalDay.dayTranslationKey}}">Monday</span> <span th:text="${rehearsalDay.details}">4pm</span>
                </span>
            </td>
        </tr>
    </table>
    <span th:if="${BandRelationships.size() > 0}">
        <b th:text="#{page.field-prompt.relationships}">Relationships:</b>
        <ul>
            <li th:each="relationship : ${BandRelationships}">
                <span th:text="#{${relationship.relationshipName(Band)}}">relationship</span>
                <span th:replace="~{links/band-link.html :: bandLink(${relationship.otherBand(Band)},true,true)}">Band Name</span>
            </li>
        </ul>
    </span>
    <br/>
    <div style="white-space: pre-line" th:utext="${Notes}">Notes</div>
    <br/>

</div>
