<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.reset-password.title} + ' - Brass Band Results'}">Reset Password - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.reset-password.title}">Reset Password</h2>

    <div th:if="${Errors.length > 0}">
        <p class="text-danger" th:text="#{${Errors}}">Error Text</p>
    </div>

    <form method="POST" th:action="${'/acc/forgotten-password/reset/' + ResetKey}">
        <div class="mb-3">
            <label class="form-label" for="password1" th:text="#{page.field-prompt.password}">Password:</label>
            <input id="password1" name="password1" class="form-control" type="password" maxlength="100" size="80" required/>
            <small class="form-text" th:text="#{page.field-prompt.password-hint}">Must be eight characters or longer.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password2" th:text="#{page.field-prompt.password-again}">Password Again:</label>
            <input id="password2" name="password2" class="form-control" type="password" maxlength="100" size="80" required/>
        </div>

        <input type="submit" th:value="#{page.buttons.reset-password}" class="btn btn-outline-success btn-sm rounded"/>
        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
</div>

<div layout:fragment="feedback">
</div>

<div layout:fragment="ad-block-top">
</div>

<div layout:fragment="ad-block-bottom">
</div>

</body>
</html>
