<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.reset-password.title} + ' - Brass Band Results'}">Account Activated - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.reset-password.title}">Account Activated</h2>
    <p th:text="#{page.reset-password.sent-prompt}">The email associated with your account has been sent a link. Click on this link and follow the instructions to reset your password.</p>
    <p th:utext="#{page.signup-activate.prompt-3}">If the email doesn't turn up, please email us at <a href="mailto:accounthelp@brassbandresults.co.uk">accounthelp@brassbandresults.co.uk</a> and we'll sort you out.</p>
</div>

<div layout:fragment="ad-block-top">
</div>

<div layout:fragment="ad-block-bottom">
</div>
</body>
</html>
