<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.compare-people.title} + ' - Brass Band Results'}">Compare People - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2>
        <span th:text=" #{page.compare.page-header.prefix}">Compare</span>
        <a th:href="${'/people/' + LeftPerson.slug}" th:text="${LeftPerson.combinedName}">David Roberts</a>
        <span th:text=" #{page.compare.page-header.with}">with</span>
        <a th:href="${'/people/' + RightPerson.slug}" th:text="${RightPerson.combinedName}">John Roberts</a>
    </h2>
    <p th:text="#{page.compare.explain.conductor(${LeftPerson.combinedName}, ${LeftPersonWins}, ${RightPerson.combinedName}, ${RightPersonWins})}">This table lists results from contests where the two conductors have competed against each other. {{ConductorOne.name}} has been better {{ConductorOneWins}} times, {{ConductorTwo.name}} has been better {{ConductorTwoWins}} times.</p>
    <table width="100%">
        <tr>
            <td class="bg-info border border-dark text-white text-start" th:width="@{${LeftPersonPercent} + '%'}">
                <span th:remove="tag" th:text="${LeftPerson.combinedName + ' ' + LeftPersonWins + '&nbsp;(' + LeftPersonPercent + '%)'}">Left Results</span>
            </td>
            <td class="bg-secondary border border-dark text-white text-end" th:width="@{${RightPersonPercent} + '%'}">
                <span th:remove="tag" th:text="${RightPerson.combinedName + ' ' + RightPersonWins + '&nbsp;(' + RightPersonPercent + '%)'}">Right Results</span>
            </td>
        </tr>
    </table>
    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th th:text="${LeftPerson.combinedName}">David Roberts</th>
                <th th:text="#{page.column-header.band}">Band</th>
                <th th:text="#{page.column-header.date}">Date</th>
                <th th:text="#{page.column-header.contest}">Contest</th>
                <th th:text="#{page.column-header.band}">Band}</th>
                <th th:text="${RightPerson.combinedName}">John Roberts</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${Results}">
                <td th:class="${result.leftClass}" th:text="${result.leftResult}">1</td>
                <td><span th:replace="links/band-link.html :: bandLinkWithNameOverride(${result.leftBand}, ${result.leftBandName})"></span></td>
                <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${result.event})">9th Sep 2023</span></td>
                <td>
                    <img class="toggle-filter" th:data-id="${result.event.id}" th:src="@{${STATIC_HOST} + '/icons/zoom_in.png'}" th:alt="#{page.filter.prompt}" th:title="#{page.filter.prompt}"/>
                    <span  th:text="${result.contestName}">Yorkshire Area</span>
                    <div class="toggle-filter-links" th:id="${'toggle-filter-' + result.event.id}">12345</div>
                </td>
                <td><span th:replace="links/band-link.html :: bandLinkWithNameOverride(${result.rightBand}, ${result.rightBandName})"></span></td>
                <td th:class="${result.rightClass}"  th:text="${result.rightResult}">2</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>