<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.compare-people.title} + ' - Brass Band Results'}">Compare People - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.compare-people.page-header}">Compare People</h2>
    <div class="mb-3">
        <label class="form-label" for="first" th:text="#{page.field-prompt.first-conductor}">First Person:</label>
        <input id="first" autocomplete="off" class="form-control" type="hidden" maxlength="100" th:value="${LeftPerson.combinedName}" th:data-slug="${LeftPerson.slug}"/>
        <p th:text="${LeftPerson.combinedName}">Left Person</p>
    </div>
    <div class="mb-3">
        <label class="form-label" for="second" th:text="#{page.field-prompt.second-conductor}">Second person:</label>
        <input id="second" autocomplete="off" class="form-control" type="text" maxlength="100" onkeyup="lookup('second', 'person');"/>
    </div>
    <button id="compare-button" th:text="#{page.buttons.compare}" class="btn btn-outline-success disabled" onclick="showComparison()"></button>
</div>

<div layout:fragment="scriptfooter">
<script th:src="@{${STATIC_HOST} + '/js2023/lookup.js'}"></script>
<script>

function showComparison() {
    let firstPerson = document.getElementById("first").dataset.slug;
    let secondPerson = document.getElementById("second").dataset.slug;
    let location = '/people/COMPARE-CONDUCTORS/' + firstPerson + "/" + secondPerson;
    history.pushState({}, "", window.location);
    window.location.replace(location);
}

function fill(inputId, matchSlug, matchName) {
    let inputElement = document.getElementById(inputId);
    inputElement.value = matchName;
    inputElement.dataset.slug = matchSlug;
    inputElement.classList.remove("bg-warning");
    inputElement.classList.add("bg-success");
    inputElement.classList.add("text-white");

    document.getElementById('list-' + inputId).remove();

    let firstPerson = document.getElementById("first").dataset.slug;
    let secondPerson = document.getElementById("second").dataset.slug;
    if (firstPerson.length > 0 && secondPerson.length > 0) {
        document.getElementById('compare-button').classList.remove("disabled");
    }
}

</script>
</div>

</body>
</html>