<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:sec="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.tags.title} + ' - Brass Band Results'}">Tags - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:if="${TagPrefixLetter == 'ALL'}"><h2><span th:text="#{page.tags.page-title}" th:remove="tag">All Tags</span></h2></span>
    <span th:if="${TagPrefixLetter != 'ALL'}"><h2><span th:text="#{page.tags.tags-starting-with(${TagPrefixLetter})}" th:remove="tag">Contests Tags starting with R</span></h2></span>
    <p th:replace="buttons/create.html :: createTag()"></p><br/><br/>
    <p th:replace="navigation/az-picker.html :: azPicker('tags', ${GroupPrefixLetter}, false, true)"></p>
    <table id="bands" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.column-header.name}">Name</th>
            <th th:text="#{page.column-header.contests}">Contests</th>
            <th th:text="#{page.column-header.groups}">Groups</th>
            <th sec:authorize="hasRole('BBR_SUPERUSER')"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${Tags}">
            <td class="tag"><span th:replace="links/tag-link.html :: tagLink(${tag})"></span></td>
            <td th:text="${tag.contestCount}"></td>
            <td th:text="${tag.groupCount}"></td>
            <td sec:authorize="hasRole('BBR_SUPERUSER')">
                <span th:if="${tag.contestCount == 0 && tag.groupCount == 0}">
                    <span th:replace="buttons/button.html :: dangerButton(#{page.buttons.delete}, '/tags/' + tag.slug + '/delete')"></span>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
    <p th:replace="navigation/az-picker.html :: azPicker('tags', ${GroupPrefixLetter}, false, true)"></p>
</div>
</body>
</html>