<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.tags.title}">Tags - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:if="${TagPrefixLetter == 'ALL'}"><h2><span th:text="#{page.tags.page-title}" th:remove="tag">All Tags</span></h2></span>
    <span th:if="${TagPrefixLetter != 'ALL'}"><h2><span th:text="#{page.tags.tags-starting-with(${TagPrefixLetter})}" th:remove="tag">Contests Tags starting with R</span></h2></span>
    <p>
        {% if user.profile.enhanced_functionality %}<p>[<a href="/contest-groups/add/">{% trans "Add New Group"%}</a>]</p>{% endif %}
    </p>
    <p th:replace="navigation/az-picker.html :: azPicker('tags', ${GroupPrefixLetter}, false, true)"></p>
    <table id="bands" class="table table-hover sortable">
        <thead>
        <tr>
            <th th:text="#{page.tags.column-header-name}">Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tag : ${Tags}">
            <td class="tag"><a th:href="${'/tags/' + tag.slug}" th:text="${tag.name}">Tag Name</span></a></td>
        </tr>
        </tbody>
    </table>
    <p th:replace="navigation/az-picker.html :: azPicker('tags', ${GroupPrefixLetter}, false, true)"></p>
</div>
</body>
</html>