<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.region.page-title(#{'region.' + ${Region.slug}})}">Yorkshire Region - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{'region.' + ${Region.slug}}">Region Name</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="${'/regions/' + Region.slug}" th:text="#{page.region.tab.bands}">Bands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/regions/' + Region.slug + '/contests'}" th:text="#{page.region.tab.contests}">Contests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/regions/' + Region.slug + '/links'}" th:text="#{page.region.tab.links}">Links</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/regions/' + Region.slug + '/winners'}" th:text="#{page.region.tab.winning-bands}">Winning Bands</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">

    <div th:each="section : ${Sections}">
        <h3 th:text="#{${section.translationKey}}"></h3>
        <ul>
            <li th:each="band : ${section.bands}">
              [
                <a th:if="${band.website != null}" th:href="${band.website}" th:text="#{page.region-links.web-link}">xweb</a>
                <span class="text-muted" th:if="${band.website == null}" th:text="#{page.region-links.web-link}">xweb</span>
              ]
              [
                <a th:if="${band.twitterName != null}"  th:href="${'https://twitter.com/' + band.twitterName}" th:text="#{page.region-links.twitter-link}">twitter</a>
                <span class="text-muted" th:if="${band.twitterName == null}" th:text="#{page.region-links.twitter-link}">txwitter</span>
              ]<span th:replace="links/band-link.html :: bandLink(${band}, false, true)"></span>
            </li>
        </ul>
    </div>
</div>
</body>
</html>