<div th:fragment="regionList(Regions)" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <table id="regions" class="table table-hover sortable">
        <thead>
            <tr>
                <th th:text="#{page.column-header.name}">Name</th>
                <th sec:authorize="!hasRole('BBR_PRO')" th:text="#{page.column-header.bands}">Bands</th>
                <th sec:authorize="hasRole('BBR_PRO')" th:text="#{page.column-header.bands-active}">Active Bands</th>
                <th sec:authorize="hasRole('BBR_PRO')" th:text="#{page.column-header.bands-extinct}">Extinct Bands</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="region : ${Regions}" th:id="${region.slug}">
                <td class="region">
                    <span th:replace="links/region-link.html :: regionLink(${region})"></span>
                </td>
                <td sec:authorize="!hasRole('BBR_PRO')" class="band-count" th:text="${region.getBandsCount()}"></td>
                <td sec:authorize="hasRole('BBR_PRO')" class="active-band-count" th:text="${region.getActiveBandsCount()}"></td>
                <td sec:authorize="hasRole('BBR_PRO')" class="extinct-band-count" th:text="${region.getExtinctBandsCount()}"></td>
            </tr>
        </tbody>
    </table>
</div>