<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<title layout:fragment="title" th:text="#{page.region.page-title(#{'region.' + ${Region.slug}})}">Yorkshire Region - Brass Band Results</title>
<div layout:fragment="head">
    
</div>
<div layout:fragment="content">
    <h2 th:text="#{'region.' + ${Region.slug}}">Region Name</h2>

    <span th:if="${SubRegions.size > 0}">
        <h3 th:text="#{page.region.section.sub-regions}">Sub Regions</h3>
        <p th:replace="regions/regionList.fragment.html :: regionList(${SubRegions})"></p>
    </span>

    <h3 th:text="#{page.region.section.map}">Map</h3>
    <div id="map"></div>

    <h3 th:text="#{page.region.section.contests}">Contests</h3>

    <h3 th:text="#{page.region.section.bands}">Bands</h3>
    <p th:text="#{page.region.section.bands.count(${Region.activeBandsCount}, ${Region.extinctBandsCount})}">This region has {0} active bands, and {1} extinct.</p>
    <p th:if="${Region.bands.size > 0}"><span th:text="#{page.region.section.bands.links-page-start}">There is also a page listing</span> <a th:href="${'/regions/' + Region.slug + '/links/'}" th:text="#{page.region.section.bands.links-page-link}">Band Links</a> <span th:text="#{page.region.section.bands.links-page-end}">for this region.</p>

    <span sec:authorize="hasRole('BBR_PRO')">
        <button class="bandTypeButton btn btn-sm btn-success" type="button" th:each="type : ${Region.sectionTypes}"><span class="typeDescription" th:text="#{${type.key}}">Type</span> (<span th:text="${type.value}">123</span>)</button>
    </span>

    <table id="bands" class="table table-hover sortable" th:if="${Region.bands.size > 0}">
        <thead>
            <tr>
                <th th:text="#{page.region.section.bands.column-band-name}">Band</th>
                <th th:text="#{page.region.section.bands.column-band-type}">Type</th>
                <th th:text="#{page.region.section.bands.column-band-results-count}">Results</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="band : ${Region.bands}">
                <td class="band"><a th:href="${'/bands/' + band.slug}" th:text="${band.name}">Rothwell Temperance Band</a></td>
                <td class="bandType" th:text="#{${band.sectionType}}">Extinct</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</div>

<div layout:fragment="scriptfooter">
    <script sec:authorize="hasRole('BBR_PRO')">
        let typeButtons = document.querySelectorAll("button.bandTypeButton");
        for (let i=0; i<typeButtons.length; i++) {
            let eachButton = typeButtons[i];
            eachButton.addEventListener("click", toggleDisplayFunction(eachButton));
        }

        function toggleDisplayFunction(button) {
            return function toggleTypeDisplay(ev) {
                if (button.classList.contains("btn-success")) {
                    showHideType(button.querySelector("span.typeDescription").textContent, false);
                    button.classList.remove("btn-success");
                    button.classList.add("btn-outline-dark");
                } else {
                    showHideType(button.querySelector("span.typeDescription").textContent, true);
                    button.classList.remove("btn-outline-dark");
                    button.classList.add("btn-success");
                }
                ev.preventDefault();
            }

        }

        function showHideType(typeText, showType) {
            let tbody = document.querySelector("table#bands").querySelector("tbody");
            let tableRows = tbody.querySelectorAll("td.bandType");
            for(let i=0; i<tableRows.length;i++) {
                let td = tableRows[i];
                let tr = td.parentNode;
                if (td.textContent === typeText) {
                    if (showType) {
                        tr.style.display = '';
                    } else {
                        tr.style.display = 'none';
                    }
                }
            }
        }
    </script>
<script>

</script>
</div>


</body>
</html>