<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<title layout:fragment="title" th:text="#{page.regions.title}">Regions - Brass Band Results</title>
<div layout:fragment="content">
    <script>
        $(document).ready(function(){
            $("#regions").tablesorter();

            $('button.reset').click(function(){
                $('#bands').trigger('sortReset');
                return false;
            });
        });
    </script>
    <h2 th:text="#{page.regions.page-title}">Region List</h2>
    <button class="reset btn btn-outline-primary btn-sm float-right mb-1" th:text="#{page.reset-sort}">Reset Sort</button>
    <p th:replace="regions/regionList.fragment.html :: regionList(${Regions})"></p>
</div>
</body>
</html>
