<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.region.page-title(#{'region.' + ${Region.slug}})} + ' - Brass Band Results'}">Yorkshire Region - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{'region.' + ${Region.slug}}">Region Name</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" th:href="${'/regions/' + Region.slug}" th:text="#{page.region.tab.bands}">Bands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/regions/' + Region.slug + '/contests'}" th:text="#{page.region.tab.contests}">Contests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/regions/' + Region.slug + '/winners'}" th:text="#{page.region.tab.winning-bands}">Winning Bands</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <p th:text="#{page.winning-bands.header-1}"></p>
        <p th:text="#{page.winning-bands.header-2}"></p>
        <p th:text="#{page.winning-bands.header-3}"></p>
        <table id="bands" class="table table-hover sortable">
            <thead>
                <tr>
                    <th th:text="#{page.column-header.name}">Name</th>
                    <th th:text="#{page.column-header.wins}">Wins</th>
                    <th th:text="#{page.column-header.percentage}" class="percent">Percentage</th>
                    <th th:text="#{page.column-header.contest}">Contests</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="winningBand : ${WinningBands}">
                    <td class="band">
                        <span th:replace="~{links/band-link.html :: bandLink(${winningBand.band}, false, true)}"></span>
                    </td>
                    <td th:text="${winningBand.wins}">250</td>
                    <td><span th:text="${winningBand.percentage}">41</span>%</td>
                    <td th:text="${winningBand.contests}">597</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
