<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="@{#{page.forbidden.title} + ' - Brass Band Results'}">Pro Account Required - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.forbidden.title}">Upgrade To Pro</h2>
    <p th:text="#{page.forbidden.line1}">In order to view this page you need to have a BrassBandResults pro account.</p>
    <p th:text="#{page.forbidden.line2('£19.99')}">If you don't have a pro account, you'll need to pay £19.99 per year for access to pro features. You can cancel at any time.</p>
    <a href="/profile" class="btn btn-success" th:text="#{page.forbidden.upgrade-link}">Upgrade and more details here.</a>
</div>
</body>
</html>
