<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="@{#{page.not-found.title} + ' - Brass Band Results'}">Page Not Found - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.not-found.header}">Page not found</h2>
    <p th:text="#{page.not-found.line1}">We're sorry, but the requested page could not be found.</p>
    <p th:text="#{page.not-found.line2}">We continually tidy up the database and remove duplicates. If you were looking for a band or a person, perhaps they have been merged with another entry. Please type the name into the search box at the top of this page, and you should find what you were looking for.</p>
    <p th:text="#{page.not-found.line3}">If you were looking for a particular contest, we might have amended the date or section. Again, just search this site, and you should find it.</p>
</div>
</body>
</html>