<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.delete-event-blocked.title} + ' - Brass Band Results'}">Edit Result - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2><span th:text="#{page.delete-event-blocked.title}" th:remove="tag">Delete Result Blocked</span></h2>
    <p th:text="#{page.delete-event-blocked.prompt}">This event has results and cannot be deleted.</p>

    <ul>
        <li th:each="result : ${Results}">
            <span th:text="${result.bandName}"></span>
        </li>
    </ul>

    <p>
        <span th:text="#{page.delete-prompt.return-to}">Return to</span>
        <a th:href="${'/contests/' + ContestEvent.contest.slug}" th:text="${ContestEvent.contest.name}"></a>
    </p>

</div>

</body>
</html>
