<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.add-set-tests.title(${ContestEvent.name}, ${ContestEvent.eventDateDisplay})} + ' - Brass Band Results'}">Edit Set Tests - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2>
        <span th:text="#{page.add-set-tests.title}">Edit Set Test Pieces</span>
        <span th:replace="links/contest-link.html :: contestLink(${ContestEvent.contest})"></span>
    </h2>
    <h3><a th:href="${'/contests/' + ContestEvent.contest.slug + '/' + ContestEvent.eventDateForUrl}" th:text="${ContestEvent.eventDateDisplayWithDay}"></a></h3>

    <table class="table table-hover">
        <tr th:each="eventPiece : ${TestPieces}" th:remove="tag">
            <td><span th:replace="links/piece-link.html :: pieceLink(${eventPiece.piece})"></span></td>
            <td> <span th:replace="buttons/delete.html :: removeTestPiece(${ContestEvent}, ${eventPiece})"></span></td>
        </tr>
    </table>
</div>

<div layout:fragment="feedback">
</div>

<div layout:fragment="scriptfooter">
    <script th:src="@{${STATIC_HOST} + '/js2023/lookup.js'}"></script>
    <script>
        function fill(inputId, matchSlug, matchName) {
            let inputElement = document.getElementById(inputId);
            let inputSlugElement = document.getElementById(inputId + '-slug');
            inputElement.value = matchName;
            inputSlugElement.value = matchSlug;
            inputElement.classList.remove("bg-warning-subtle");
            inputElement.classList.add("bg-success-subtle");

            document.getElementById('list-' + inputId).remove();
        }
    </script>
</div>

</body>
</html>
