<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.contest-event.title(${ContestEvent.contest.name}, ${ContestEvent.eventDateDisplay})} + ' - Brass Band Results'}">Yorkshire Area (Championship Section) - 07 Mar 2010 - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <span th:replace="~{events/components/header.html :: header(${ContestEvent})}"></span>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" th:href="${'/contests/' + ContestEvent.contest.slug + '/' + ContestEvent.eventDateForUrl}" th:text="#{page.contest-event.tab.results}">Results</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/contests/' + ContestEvent.contest.slug + '/' + ContestEvent.eventDateForUrl + '/geography'}" th:text="#{page.contest-event.tab.geography}">Geography</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="${'/contests/' + ContestEvent.contest.slug + '/' + ContestEvent.eventDateForUrl + '/competitors'}" th:text="#{page.contest-event.tab.competitors}">Competitors</span></a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <table>
            <tr>
                <th th:text="#{page.field-prompt.format}">Format:</th>
                <td th:text="#{${ContestEvent.contestType.translationKey}}">Type Name</td>
            </tr>
            <tr th:if="${EventTestPieces.size > 0}">
                <th th:text="#{page.field-prompt.test-piece}">Test Piece:</th>
                <td><span th:replace="~{links/piece-link.html :: eventPiecesLink(${EventTestPieces})}"></span></td>
            </tr>
            <tr>
                <th th:text="#{page.field-prompt.adjudicators}">Adjudicators:</th>
                <td>
                    <span th:replace="~{links/person-link.html :: adjudicatorsLink(${Adjudicators})}">Bob Childs</span>
                </td>
            </tr>
            <tr>
                <th th:text="#{page.field-prompt.venue}">Venue:</th>
                <td class="venue"><span th:replace="~{links/venue-link.html :: venueLink(${ContestEvent.venue})}"></span></td>
            </tr>
        </table>

        <br/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span th:replace="~{links/event-link.html :: eventNavigationUpLink(${SectionUp})}">Yorkshire Area (Championship Section) 2013</span>
                </div>
                <div class="col text-end">
                    <span th:replace="~{links/event-link.html :: eventNavigationDownLink(${SectionDown})}">Yorkshire Area (Second Section) 2013</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span th:replace="~{links/event-link.html :: eventNavigationLeftLink(${PreviousEvent})}">Previous Event</span>
                </div>
                <div class="col text-end">
                    <span th:replace="~{links/event-link.html :: eventNavigationRightLink(${NextEvent})}">Next Event</span>
                </div>
            </div>
        </div>

        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th th:text="#{page.column-header.position}" class="result">Position</th>
                    <th th:text="#{page.column-header.band}">Band</th>
                    <th th:text="#{page.column-header.conductor}">Conductor</th>
                    <th th:if="${ShowMusic}" th:text="#{page.column-header.music}">Music</th>
                    <th th:if="${ShowDraw1}" th:text="#{${ContestEvent.contestType.drawOneTitle}}" class="number">Draw 1</th>
                    <th th:if="${ShowDraw2}" th:text="#{${ContestEvent.contestType.drawTwoTitle}}" class="number">Draw 2</th>
                    <th th:if="${ShowDraw3}" th:text="#{${ContestEvent.contestType.drawThreeTitle}}" class="number">Draw 3</th>
                    <th th:if="${ShowPoints1}" th:text="#{${ContestEvent.contestType.pointsOneTitle}}" class="number">Points 1</th>
                    <th th:if="${ShowPoints2}" th:text="#{${ContestEvent.contestType.pointsTwoTitle}}" class="number">Points 2</th>
                    <th th:if="${ShowPoints3}" th:text="#{${ContestEvent.contestType.pointsThreeTitle}}" class="number">Points 3</th>
                    <th th:if="${ShowPoints4}" th:text="#{${ContestEvent.contestType.pointsFourTitle}}" class="number">Points 4</th>
                    <th th:if="${ShowPoints5}" th:text="#{${ContestEvent.contestType.pointsFiveTitle}}" class="number">Points 5</th>
                    <th th:if="${ShowPointsPenalty}" th:text="#{${ContestEvent.contestType.pointsPenaltyTitle}}" class="number">Points Penalty</th>
                    <th th:if="${ShowPointsTotal}" th:text="#{${ContestEvent.contestType.pointsTotalTitle}}" class="number">Points Total</th>
                    <th th:if="${ContestEvent.canEdit}"></th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr th:each="result : ${EventResults}" th:class="${result.cssClass}">
                    <td class="bbr-position">
                        <span th:replace="~{components/results-position.html :: resultsPosition(${result})}">1</span>
                        <span th:replace="~{components/results-position.html :: resultAward(${result})}"></span>
                        <img th:if="${result.hasNotes}" th:title="${result.notes}" th:src="@{${STATIC_HOST} + '/icons/comment.png'}"/>
                        <span th:if="${result.duplicateBandThisEvent}" class="badge text-bg-danger" th:text="#{page.contest-event.duplicate-band}" th:title="#{page.contest-event.duplicate-band.hint}">Duplicate Band</span>
                    </td>
                    <td class="bbr-band">
                        <span th:replace="~{links/band-link.html :: bandLinkWithOverride(${result})}"></span>
                    </td>
                    <td class="bbr-conductor"><span th:replace="~{links/person-link.html :: conductorsLink(${result})}">Bob Childs</span></td>
                    <td class="bbr-piece" th:if="${ShowMusic}">
                        <span th:replace="~{links/piece-link.html :: resultPieces(${result})}">Bob Childs</span>
                    </td>
                    <td class="bbr-draw" th:if="${ShowDraw1}">
                        <span th:if="${result.draw != 0}">
                          <span th:replace="~{links/contest-link.html :: contestLinkDraw(${ContestEvent.contest}, ${result.draw})}"></span>
                        </span>
                    </td>
                    <td class="bbr-draw" th:if="${ShowDraw2}" th:text="${result.drawSecond}"></td>
                    <td class="bbr-draw" th:if="${ShowDraw3}" th:text="${result.drawThird}"></td>
                    <td class="bbr-draw" th:if="${ShowPoints1}" th:text="${result.pointsFirst}"></td>
                    <td class="bbr-draw" th:if="${ShowPoints2}" th:text="${result.pointsSecond}"></td>
                    <td class="bbr-draw" th:if="${ShowPoints3}" th:text="${result.pointsThird}"></td>
                    <td class="bbr-draw" th:if="${ShowPoints4}" th:text="${result.pointsFourth}"></td>
                    <td class="bbr-draw" th:if="${ShowPoints5}" th:text="${result.pointsFifth}"></td>
                    <td class="bbr-draw" th:if="${ShowPointsPenalty}" th:text="${result.pointsPenalty}"></td>
                    <td class="bbr-draw" th:if="${ShowPointsTotal}" th:text="${result.pointsTotal}"></td>
                    <td th:if="${ContestEvent.canEdit}">
                        <span th:if="${result.canEdit}">
                            <span th:replace="~{buttons/edit.html :: editResult(${ContestEvent}, ${result})}"></span>
                            <span th:if="${ContestEvent.contestType.ownChoice || ContestEvent.contestType.entertainments}">
                                <span th:replace="~{buttons/edit.html :: editResultPieces(${ContestEvent}, ${result})}"></span>
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="container">
            <div class="row">
                <div class="col">
                    <span th:replace="~{links/event-link.html :: eventNavigationLeftLink(${PreviousEvent})}">Previous Event</span>
                </div>
                <div class="col text-end">
                    <span th:replace="~{links/event-link.html :: eventNavigationRightLink(${NextEvent})}">Next Event</span>
                </div>
            </div>
        </div>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span th:if="${ContestEvent.canEdit}">
                        <span th:replace="~{buttons/button.html :: greenButton(#{page.buttons.add-results}, ${'/add-results/6/' + ContestEvent.contest.slug + '/' + ContestEvent.eventDateForUrl})}"></span>
                        <span th:replace="~{buttons/button.html :: greenButton(#{page.buttons.edit-results}, ${'/contests/' + ContestEvent.contest.slug + '/' + ContestEvent.eventDateForUrl + '/edit-results'})}"></span>
                        <br/><br/>
                    </span>
                    <span th:replace="~{links/tag-link.html :: tagCloudContest(${ContestEvent.contest})}"></span>
                </div>
                <div class="col text-end">
                    <span th:replace="~{components/gravatar.html :: icon(${ContestOwner})}"></span>
                </div>
            </div>
        </div>

        <p th:utext="${Notes}">Notes</p>
    </div>
</div>
</body>
</html>
