<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.multiple-bands.title} + ' - Brass Band Results'}">Conductors of Multiple Bands - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{page.multiple-bands.page-title}">Conductors of Multiple Bands</h2>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/people/BANDS/" th:text="#{page.multiple-bands.tab.all}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/people/BANDS/before/1950" th:text="#{page.multiple-bands.tab.before-1950}">Before 1950</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/people/BANDS/after/1950" th:text="#{page.multiple-bands.tab.after-1950}">After 1950</a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <table id="bands" class="table table-hover sortable">
            <thead>
            <tr>
                <th th:text="#{page.column-header.name}">Name</th>
                <th th:text="#{page.column-header.bands}">Bands</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bandPerson : ${BandsConducted}">
                <td class="person">
                    <span th:replace="links/person-link.html :: personLinkWithKnownFor(${bandPerson.person})"></span>
                </td>
                <td th:text="${bandPerson.bands}">250</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
