<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.person-edit.title(${Person.name})} + ' - Brass Band Results'}">Person - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2><span th:text="#{page.edit-header-prefix}" th:remove="tag">Edit</span> <span th:text="${Person.name}" th:remove="tag">Person Name</span></h2>

    <form th:object="${PersonForm}"
          th:action = "${'/people/' + Person.slug + '/edit'}"
          method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="@{#{${err}}}"></li>
            </ul>
        </div>
        <div class="mb-3">
            <label class="form-label" for="firstNames" th:text="#{page.field-prompt.first-names}">First names:</label>
            <input id="firstNames" class="form-control" type="text" th:field="*{firstNames}" maxlength="100" size="80"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="surname" th:text="#{page.field-prompt.surname}">Surname:</label>
            <input id="surname" class="form-control" type="text" th:field="*{surname}" maxlength="100" size="80"/>
        </div>
        <div class="mb-3">
            <label class="form-label" for="suffix" th:text="#{page.field-prompt.suffix}">Suffix:</label>
            <select id="suffix" class="form-select" name="suffix" th:field="*{suffix}">
                <option value="" selected></option>
                <option value="Jnr" th:text="#{page.field-prompt.suffix-jnr}">Jnr</option>
                <option value="Snr" th:text="#{page.field-prompt.suffix-snr}">Snr</option>
                <option value="I" th:text="#{page.field-prompt.suffix-i}">I</option>
                <option value="II" th:text="#{page.field-prompt.suffix-ii}">II</option>
                <option value="III" th:text="#{page.field-prompt.suffix-iii}">III</option>
            </select>
            <small class="form-text" th:text="#{page.person-edit.hint.suffix}">Text shown after a surname, like Junior, Senior, III etc.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="knownFor" th:text="#{page.field-prompt.known-for}">Known for:</label>
            <input id="knownFor" class="form-control" type="text" th:field="*{knownFor}" maxlength="100" size="80"/>
            <small class="form-text" th:text="#{page.person-edit.hint.known-for}">Band(s) this person is most associated with.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="startDate" th:text="#{page.field-prompt.start-date}">Start date:</label>
            <input id="startDate" class="form-control" type="date" th:field="*{startDate}"/>
            <small class="form-text" th:text="#{page.person-edit.hint.start-date}">Person won't be matched with results before this date.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="endDate" th:text="#{page.field-prompt.end-date}">End date:</label>
            <input id="endDate" class="form-control" type="date" th:field="*{endDate}"/>
            <small class="form-text" th:text="#{page.person-edit.hint.end-date}">Person won't be matched with results after this date.</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="notes" th:text="#{page.field-prompt.notes}">Notes:</label>
            <textarea id="notes" class="form-control" th:field="*{notes}" cols="80" rows="10"></textarea>
        </div>

        <input type="hidden" th:if="${_csrf != null}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <input type="submit" th:value="#{page.buttons.save-changes}" class="btn btn-outline-success"/>
                    <a th:href="${'/people/' + Person.slug}" th:text="#{page.buttons.cancel-without-saving}" class="btn btn-light">Cancel wout saving</a>
                </div>
                <div class="col text-end">
                    <span th:replace="~{buttons/delete.html :: deletePerson(${Person})}"></span>
                </div>
            </div>
        </div>
    </form>
</div>

<div layout:fragment="feedback">
</div>

</body>
</html>
