<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.person-edit.title(${Person.name})} + ' - Brass Band Results'}">Person - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2><span th:text="#{page.edit-header-prefix}">Edit</span> <span th:text="${Person.name}">Person Name</span></h2>

    <form th:object="${PersonForm}"
          th:action = "${'/people/' + Person.slug + '/edit'}"
          method="post">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="@{#{${err}}}"></li>
            </ul>
        </div>
    <table>
        <tr>
            <th class="align-top">
                <label for="firstNames" th:text="#{page.person-edit.first-names}">First names:</label>
            </th>
            <td>
                <input id="firstNames" type="text" th:field="*{firstNames}" maxlength="100" size="80"/>
            </td>
        </tr>
        <tr>
            <th class="align-top">
                <label for="surname" th:text="#{page.person-edit.surname}">Surname:</label>
            </th>
            <td>
                <input id="surname" type="text" th:field="*{surname}" maxlength="100" size="80"/>
            </td>
        </tr>
        <tr>
            <th class="align-top">
                <label for="suffix" th:text="#{page.person-edit.suffix}">Suffix:</label>
            </th>
            <td>
                <select id="suffix" name="suffix" th:field="*{suffix}">
                    <option value="" selected></option>
                    <option value="Jnr" th:text="#{page.person-edit.suffix-jnr}">Jnr</option>
                    <option value="Snr" th:text="#{page.person-edit.suffix-snr}">Snr</option>
                    <option value="I" th:text="#{page.person-edit.suffix-i}">I</option>
                    <option value="II" th:text="#{page.person-edit.suffix-ii}">II</option>
                    <option value="III" th:text="#{page.person-edit.suffix-iii}">III</option>
                </select>
                <br/><small th:text="#{page.person-edit.hint.suffix}">Text shown after a surname, like Junior, Senior, III etc.</small>
            </td>
        </tr>
        <tr>
            <th class="align-top">
                <label for="knownFor" th:text="#{page.person-edit.known-for}">Known for:</label>
            </th>
            <td>
                <input id="knownFor" type="text" th:field="*{knownFor}" maxlength="100" size="80"/>
                <br/><small th:text="#{page.person-edit.hint.known-for}">Band(s) this person is most associated with.</small>
            </td>
        </tr>
        <tr>
            <th class="align-top">
                <label for="startDate" th:text="#{page.person-edit.start-date}">Start date:</label>
            </th>
            <td>
                <input id="startDate" type="date" th:field="*{startDate}"/>
                <br/><small th:text="#{page.person-edit.hint.start-date}">Person won't be matched with results before this date.</small>
            </td>
        </tr>
        <tr>
            <th class="align-top">
                <label for="endDate" th:text="#{page.person-edit.end-date}">End date:</label>
            </th>
            <td>
                <input id="endDate" type="date" th:field="*{endDate}"/>
                <br/><small th:text="#{page.person-edit.hint.end-date}">Person won't be matched with results after this date.</small>
            </td>
        </tr>
        <tr>
            <th class="align-top">
                <label for="notes" th:text="#{page.person-edit.notes}">Notes:</label>
            </th>
            <td>
                <textarea id="notes"  th:field="*{notes}" cols="80" rows="10"></textarea>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <input type="submit" th:value="#{page.buttons.save-changes}" class="btn btn-success"/>
                <a th:href="${'/people/' + Person.slug}" th:text="#{page.buttons.cancel-without-saving}" class="btn btn-light">Cancel wout saving</a>
            </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>