<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="@{#{page.person.title(${Person.name})} + ' - Brass Band Results'}">Person - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${Person.name}"></h2>
    <small th:if="${PreviousNames.size > 0}">
        <b><span th:text="#{page.person.aka}"></span>:</b>
        <span th:each="previousName, iterStat : ${PreviousNames}">
            <span th:text="${!iterStat.last} ? ${previousName.oldName} + ', ': ${previousName.oldName}">previous name</span>
        </span>
    </small>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:if="${ResultsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug}" th:text="#{page.person.tab.conducting(${ResultsCount})}">Conducting</span></a>
        </li>
        <li class="nav-item" th:if="${WhitCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/whits'}" th:text="#{page.person.tab.whits(${WhitCount})}">Whit Friday</span></a>
        </li>
        <li class="nav-item" th:if="${AdjudicationsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/adjudicator'}" th:text="#{page.person.tab.adjudicating(${AdjudicationsCount})}">Adjudicating</span></a>
        </li>
        <li class="nav-item" th:if="${PieceCount > 0}">
            <a class="nav-link active" th:href="${'/people/' + Person.slug + '/pieces'}" th:text="#{page.person.tab.compositions(${PieceCount})}">Compositions</span></a>
        </li>
    </ul>
    <br/>

    <div class="tab-content">
        <table class="table table-hover sortable">
            <thead>
                <tr>
                    <th th:text="#{page.person-pieces.column-header-date}">Name</th>
                    <th th:text="#{page.person-pieces.column-header-contest}">Composer</th>
                    <th th:text="#{page.person-pieces.column-header-band}">Arranger</th>
                    <th th:text="#{page.person-pieces.column-header-position}" class="number">Year</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="piece : ${Pieces}">
                    <td class="bbr-piece"><span th:replace="links/piece-link.html :: pieceLinkNoYear(${piece})">Test Piece</span></td>
                    <td class="bbr-composer"><span th:replace="links/person-link.html :: personLink(${piece.composer}, false, false)">Bob Childs</span></td>
                    <td class="bbr-arranger"><span th:replace="links/person-link.html :: personLink(${piece.arranger}, false, false)">Bob Childs</span></td>
                    <td class="bbr-year"><span th:text="${piece.year}">2001</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>