<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.person.title(${Person.name})}">Person - Brass Band Results</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${Person.name}"></h2>
    <small th:if="${PreviousNames.size > 0}">
        <b><span th:text="#{page.person.aka}"></span>:</b>
        <span th:each="previousName, iterStat : ${PreviousNames}">
            <span th:text="${!iterStat.last} ? ${previousName.oldName} + ', ': ${previousName.oldName}">previous name</span>
        </span>
    </small>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:if="${ResultsCount > 0}">
            <a class="nav-link active" th:href="${'/people/' + Person.slug}" th:text="#{page.person.tab.conducting(${ResultsCount})}">Conducting</span></a>
        </li>
        <li class="nav-item" th:if="${WhitCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/whits'}" th:text="#{page.person.tab.whits(${WhitCount})}">Whit Friday</span></a>
        </li>
        <li class="nav-item" th:if="${Person.adjudicationsCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/adjudicator'}" th:text="#{page.person.tab.adjudicating(${Person.adjudicationsCount})}">Adjudicating</span></a>
        </li>
        <li class="nav-item" th:if="${Person.pieceCount > 0}">
            <a class="nav-link" th:href="${'/people/' + Person.slug + '/pieces'}" th:text="#{page.person.tab.compositions(${Person.pieceCount})}">Compositions</span></a>
        </li>
    </ul>
    <br/>

    <table class="table table-hover sortable">
        <thead>
            <tr>
                <th th:text="#{page.person.column-header-date}" class="date">Date</th>
                <th th:text="#{page.person.column-header-contest}">Contest</th>
                <th th:text="#{page.person.column-header-band}">Band</th>
                <th th:text="#{page.person.column-header-position}" class="result">Position</th>
                <th th:text="#{page.person.column-header-points}" class="number">Points</th>
                <th th:text="#{page.person.column-header-draw}" class="number">Draw</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${ConductingResults}" th:class="${'result-' + result.position}">
                <td class="bbr-event" nowrap><span th:replace="links/event-link.html :: eventLink(${result.contestEvent})">9th Sep 2023</span></td>
                <td class="bbr-contest"><span th:text="${result.contestEvent.contest.name}">Yorkshire Area</span></td>
                <td class="bbr-band"><span th:replace="links/band-link.html :: bandLinkWithOverride(${result.band}, true, false, ${result.bandName})"></span></td>
                <td class="bbr-position"><span th:replace="components/results-position.html :: resultsPosition(${result})">1</span></td>
                <td class="bbr-points"><span th:text="${result.pointsTotal}">123.45</span></td>
                <td class="bbr-draw"><span th:if="${result.draw != 0}" th:text="${result.draw}">1</span></td>

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>